/* ==UserStyle==
@name           Hope 2
@namespace      https://github.com/Catgrills/Hope
@version        1.1.6
@description    An user style for Google called Hope.
@author         Catgrills/Katgrills
@preprocessor 	uso
@var select theme 'Theme' {
	"Light": `
	:root {
        	--body-bg: #F0F1F5 !important;
		--card-bg: #FFF !important;
		--card-bg-2: #F8F8F8 !important;
		--border-color: #BEBEBE !important;
		--primary-color: #545454 !important;
		--secondary-color: #7E7E7E !important;
		--invert: invert(0) !important;
        	--blue: #436EBC !important;
        	--green: #1E8945 !important;
        	--red: #DE5246 !important;
	}
	`,
	"Dark":`
	:root {
	    	--body-bg: #2F2E2E !important;
		--card-bg: #333 !important;
		--card-bg-2: #515151 !important;
		--border-color: #2D2D2D !important;
		--primary-color: #FFF !important;
		--secondary-color: #BEBEBE !important;
		--invert: invert(1) !important;
        	--blue: #436EBC !important;
        	--green: #1E8945 !important;
        	--red: #DE5246 !important;
	}
	`
}
==/UserStyle== */
@-moz-document regexp("https*://www.google..*") {

	/*[[theme]]*/

	/* GENERAL */

	/** DESCRIPTION : change the elements of all page **/
	* {
		font-family: "Roboto Condensed", "ぼくたちのゴシック２ボールド" !important;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	select {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	input::-moz-placeholder {
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	div[role="dialog"] input,
	textarea {
		background: var(--card-bg-2) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: var(--primary-color) !important;
	}

	a:hover {
		text-decoration: none !important;
	}

	span[style*="#00662"] {
		color: var(--green) !important;
	}

	body {
		background: var(--body-bg);
	}

	.mw #rcnt .col #center_col #res #search *:not(.g) {
		border: none;
	}

	.mnr-c * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	.mw #rcnt .col #center_col #foot span,
	.mw #rcnt .col #center_col #foot a,
	#nav td,
	#nav td a {

		/*** PAGINATION ***/
		font-size: 14pt !important;
		margin-right: 2px;
	}

	#foot #navcnt .cur {
		color: var(--primary-color);
	}

	.mw #rcnt .col #center_col #foot .cur {

		/*** PAGINATION CURRENT PAGE ***/
		color: var(--primary-color) !important;
	}

	.mw #rcnt .col #center_col #foot #pnprev span[style*="display: block;"], 
	#nav #pnprev span[style*="display: block;"] {
		background: var(--blue) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 10px !important;
		position: absolute;
		margin-top: 35px !important;
		left: 90px;
	}

	.mw #rcnt .col #center_col #foot #pnnext span[style*="display: block;"], 
	#nav #pnnext span[style*="display: block;"] {
		background: var(--blue) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 10px !important;
		position: absolute;
		margin-top: -5px !important;
		right: 135px;
	}

	.mw #rcnt .col #center_col #foot *,
	.csb {

		/*** PAGINATION LOGO ***/
		background-image: none !important;
	}

	a[href*="support.google.com"]/*** LEARN MORE ***/,
	#ab_ctls /*** IMAGES OPTIONS ***/,
	.ads-ad /*** ADS ***/,
	.commercial-unit-desktop-rhs /*** SHOPPING SUGGESTIONS ***/,
	.commercial-unit-desktop-top,
	#dictionary-modules a[href="#"] /*** FEEDBACK ***/,
	div[id*="ed_"],
	.duf3 /*** FEEDBACK ***/,
	.explore-xpanels-desktop__xpanel-wrapper a[href="#"] /*** FEEDBACK ***/,
	.f.shpd /*** SHOPPING FOOTER ***/,
	#fbarcnt /*** FOOTER ***/,
	#flun /*** FLIES ***/,
	#foot .f.nwd /*** NEWS FOOTER ***/,
	g-bubble /*** ? BUBBLE ***/,
	#irl_r_a /*** REPORT IMAGES ***/,
	.kno-ftr /*** FEEDBACK ***/,
	.mrf .fl /*** MORE RESULTS FROM ***/,
	.mw #rcnt .col #center_col .action-menu /*** DROPDOWN ***/,
	.mw #rcnt .col #center_col .f[style="white-space:nowrap"] > a.fl /*** TRANSLATE ***/,
	.normal-footer /*** BOOKS FOOTER ***/,
	.rg_bx.rg_ic.irc-igr.irc-nic /*** IMAGES RELATED SEARCH ***/,
	#sbfblt /*** REPORT INAPPROPRIATE PREDICTIONS ***/,
	.sh-sp__btn /*** SHOPPING AD BUTTON ***/,
	.std.stp.card-section /*** TIPS ***/ {
		display: none !important;
	}

	/* HOME */

	/** DESCRIPTION : change the elements of the home page **/
	#searchform.big #tsf > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {

		/*** HOME SEARCH BAR ***/
		background-color: var(--card-bg);
		border: none;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	}

	#searchform.big #tsf > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) * {
		color: var(--primary-color) !important;
		font-size: 14pt;
	}

	.aajZCb {
		display: none;
	}

	#searchform.big #tsf > div:nth-of-type(2) > div:nth-of-type(1) center input {

		/*** HOME BUTTONS ***/
		background: var(--blue);
		border: none;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
		color: #FFF;
		font-size: 14pt;
	}

	#gb *,
	#gws-output-pages-elements-homepage_additional_languages__als * {

		/*** HOME HEADER & FOOTER ***/
		color: var(--primary-color) !important;
		font-size: 12pt;
	}

	/* HEADER */

	/** DESCRIPTION : change the elements of the header **/
	#searchform {

		/*** HEADER POSITION ***/
		position: absolute !important;
	}

	.sfbgg {

		/*** HEADER BACKGROUND ***/
		background: no-repeat url("https://i.imgur.com/R2jNAKV.jpg") center !important;
		background-size: cover !important;
		height: 84px !important;
	}

	.sfbgg::before {

		/*** HEADER BORDER TOP ***/
		background-image: linear-gradient(to right, #73D2F6, #3369E8 22%, #EF5350 36%, #D50F25 48%, #FFE082 63%, #EEB211 76%, #009925) !important;
		color: transparent !important;
		content: "dd" !important;
		height: 3px !important;
		width: 100% !important;
		position: absolute;
		top: 0px !important;
	}

	#logo {

		/*** HEADER LOGO ***/
		background: no-repeat url("https://i.imgur.com/IqDKVDh.png") center !important;
		background-color: var(--card-bg-2) !important;
		background-size: 25px auto !important;
		border-top-right-radius: 0px;
		border-top-left-radius: 2px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		height: 44px !important;
		width: 50px !important;
		margin-top: -8px;
		z-index: 999 !important;
	}

	#logocont {
		padding-top: 13px !important;
		padding-left: 20px !important;
	}

	#logocont img,
	.logo img {
		display: none !important;
	}

	#gsr #searchform #tsf > div > div > div:nth-of-type(2) {

		/*** HEADER SEARCH BAR ***/
		background-color: var(--card-bg);
		border: none;
		border-top-right-radius: 0px;
		border-top-left-radius: 2px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
		position: relative !important;
		left: -80px !important;
		z-index: 1;
	}

	#gsr #searchform #tsf > div > div > div:nth-of-type(2) * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	#gsr #searchform #tsf > div > div > div:nth-of-type(2) svg path {
		fill: #4885ED;
	}

	#gsr #searchform #tsf button {
		border-top-right-radius: 2px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 0px;
		height: 44px !important;
		padding-bottom: 4px !important;
		margin-right: -10px;
		text-transform: lowercase;
	}

	#gsr #searchform #tsf button,
	#gsr #searchform #tsf button:hover {
		background-color: var(--body-bg) !important;
	}

	#searchform .sbibtd {
		margin-top: 0px;
		margin-left: -80px !important;
	}

	#searchform .sbib_a {
		background: var(--card-bg) !important;
	}

	#searchform .sbibod {
		background: var(--card-bg) !important;
		border: none;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	}

	#searchform #lst-ib {
		background: var(--card-bg) !important;
		color: var(--primary-color);
		font-family: "Roboto Condensed", "ぼくたちのゴシック２ボールド" !important;
		font-size: 14pt !important;
		font-weight: normal !important;
	}

	.sbico-c {
		margin-top: 1px !important;
	}

	#gsr.srp #searchform #tsf > div > div > div:nth-of-type(3) {

		/*** HEADER SEARCH BAR SUGGESTION POPUP ***/
		background-color: var(--card-bg);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		width: 560px;
		position: absolute !important;
		margin-top: 0px;
		margin-left: -49px;
	}

	#gsr #searchform #tsf > div > div > div:nth-of-type(3) div {
		background: transparent;
		border: none;
		box-shadow: none;
		color: var(--primary-color);
		font-size: 14pt;
		line-height: 20pt;
	}

	#gsr #searchform #tsf > div > div > div:nth-of-type(3) div li {
		background: transparent !important;
	}

	.suggestions-inner-container:hover {
		opacity: .5;
	}

	.suggestions-inner-container > div:nth-of-type(1) {
		margin-left: -32px;
	}

	.sbdd_b {
		background: var(--card-bg);
		border: none !important;
		border-radius: 1px !important;
		margin-left: 2px !important;
	}

	.sbdd_b .sbsb_a {
		background: var(--card-bg);
		border: none !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding: 8px 0px 18px 0px !important;
		margin-top: 0px !important;
	}

	.sbdd_b .sbsb_a * {
		border: none !important;
		color: var(--primary-color);
		font-size: 14pt !important;
		font-weight: normal !important;
		line-height: 20pt !important;
	}

	.sbdd_b .sbsb_a *:hover {
		background: transparent;
		opacity: .9;
	}

	.sbdd_a[dir="ltr"] .sbsb_j {
		display: none;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) > div > a[role="button"] {

		/*** HEADER APPLICATIONS ICON ***/
		filter: invert(1);
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) > div[role="region"],
	#searchform #gbw > div > div > div > div:nth-of-type(1) > div[role="region"] div,
	#searchform #gbw > div > div > div > div:nth-of-type(1) > div[role="region"] ul {

		/*** HEADER APPLICATIONS POPUP ***/
		background: var(--card-bg);
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) div {
		border-bottom-color: var(--card-bg) !important;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) > div[role="region"] ul * {
		color: var(--primary-color);
		font-size: 12pt;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) > div[role="region"] a {
		background: var(--card-bg) !important;
		color: var(--primary-color);
		font-size: 12pt;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) ul li:hover a {
		border-color: transparent !important;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) ul li:hover span {
		background-color: transparent;
		opacity: .5;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(1) > div[role="region"] span {
		border-color: var(--border-color) !important;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2),
	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div,
	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div a,
	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(4) {

		/*** HEADER ACCOUNT POPUP ***/
		background-color: var(--card-bg) !important;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(2) div {
		border-bottom-color: var(--card-bg);
	}

	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) div {
		color: var(--primary-color);
		font-size: 12pt;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) span {
		opacity: 0;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) > div > div > a::hover {
		background: transparent !important;
	}

	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div > div > a,
	#searchform #gbw > div > div > div > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(4) a {
		background: var(--card-bg-2);
		border: none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		color: var(--primary-color);
		padding: 4px 15px 6px 15px;
	}

	#hdtbSum {

		/*** HEADER NAVIGATION BAR ***/
		background: var(--card-bg) !important;
		border-top: none !important;
		font-size: 14pt !important;
		padding-bottom: 12px !important;
		margin-top: 18px !important;
	}

	#hdtb-msb {
		left: -99px !important;
	}

	#hdtb {
		border-bottom: 1px dotted var(--border-color);
	}

	#hdtb-tls:active,
	#hdtb-tls:focus,
	#hdtb-tls:hover,
	#hdtb-msb .hdtb-tl-sel {
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
		color: var(--secondary-color) !important;
	}

	.hdtbItm label:hover,
	.hdtbItm a:hover,
	#hdtb-more-mn a:hover,
	#hdtb .hdtb-mitem a:hover,
	.hdtb-mn-hd:hover,
	#hdtb-more:hover,
	#hdtb-tls:hover {
		color: var(--primary-color);
	}

	#hdtb-msb span {

		/*** HEADER NAVIGATION BAR ICONS ***/
		position: relative;
		top: -3px !important;
	}

	.hdtb-mitem.hdtb-msel.hdtb-imb {

		/*** HEADER NAVIGATION BAR CURRENT ***/
		border: none !important;
		font-weight: normal !important;
	}

	#main div[role="menu"] {

		/*** HEADER NAVIGATION BAR POPUP ***/
		background: var(--card-bg);
		border-radius: 1px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .3) !important;
	}

	#main div[role="menu"] * {
		color: var(--primary-color);
		font-size: 12pt;
	}

	#main div[role="menu"] svg {
		position: relative !important;
		top: -2px !important;
	}

	.hdtbU,
	.hdtb-mn-c {
		background: var(--card-bg) !important;
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .4) !important;
	}

	.hdtb-mn-hd {

		/*** HEADER NAVIGATION BAR TOOLS ***/
		margin-top: 11px !important;
	}

	.mn-hd-txt {
		font-size: 14pt !important;
	}

	#hdtb .mn-dwn-arw {
		background: no-repeat  url('https://i.imgur.com/OygFMxF.png') center !important;
		background-size: cover !important;
		border: none !important;
		padding: 13px 0px 0px 13px !important;
		margin-top: -5px !important;
		margin-left: 2px !important;
	}

	#hdtb #hdtbMenus {
		background: var(--card-bg) !important;
		font-size: 14pt !important;
		margin-top: -8px !important;
		padding-bottom: 8px !important;
	}

	#hdtb #hdtbMenus .hdtbItm {
		background: var(--card-bg);
		color: var(--primary-color);
	}

	#hdtb #hdtbMenus .hdtbItm a:hover,
	#cdrlnk:hover {
		background: var(--card-bg-2);
		color: var(--primary-color);
	}

	.cdr_sep {
		border-top: 1px dotted var(--border-color) !important;
	}

	div[role="navigation"] g-scrolling-carousel .uais2d {

		/*** HEADER SECOND NAVIGATION BAR ***/
		background-color: var(--card-bg-2);
		border: none !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	}

	div[role="navigation"] g-scrolling-carousel .uais2d * {
		color: var(--primary-color);
		font-size: 12pt;
	}

	div[role="navigation"] div {
		border: none !important;
	}

	.rl_feature,
	.rlc__slider-page {

		/*** HEADER THIRD NAVIGATION BAR ***/
		background: var(--card-bg) !important;
	}

	.rlc__slider-page div {
		background: transparent !important;
		border-radius: 1px;
	}

	.rl_item.rl_item_base {
		background: var(--card-bg-2) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.rl_item.rl_item_base * {
		color: var(--primary-color) !important;
	}

	.rl_center {
		border: none;
	}

	#appbar {

		/*** HEADER RESULT BAR ***/
		background: var(--card-bg) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
		font-size: 14pt;
	}

	#main #cnt #appbar #extabar {
		padding: 2px 0px 5px 0px !important;
	}

	#appbar * {
		color: var(--secondary-color);
	}

	#resultStats {
		left: 55px;
	}

	/* ALL */

	/** DESCRIPTION : change the elements of the All page **/
	.mw #rcnt .col #center_col {

		/*** ALL LEFT COLUMN ***/
		background: var(--card-bg) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding: 15px 15px 10px 10px !important;
		margin-top: 30px;
		margin-left: 80px;
	}

	.mw #rcnt .col #center_col #res #search .g {
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 25px !important;
		margin-bottom: 20px;
	}

	div[role="heading"] div {

		/*** ALL LEFT COLUMN DETAILS ***/
		color: var(--primary-color);
	}

	div[role="heading"] span {
		color: var(--primary-color);
		font-size: 14pt;
	}

	#rcnt a[href*="spell="],
	.spell_orig {

		/*** ALL LEFT COLUMN AUTO CORRECT ***/
		color: var(--blue) !important;
		font-size: 16pt !important;
	}

	.med p.card-section span {
		color: var(--primary-color);
		font-size: 16pt;
	}

	.mw #rcnt .col #center_col .rc h3,
	.iu-card-header {

		/*** ALL LEFT COLUMN TITLE ***/
		color: var(--blue) !important;
		font-size: 16pt !important;
		font-weight: normal !important;
		margin-bottom: 10px !important;
	}

	.mw #rcnt .col #center_col .rc cite,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(1) {

		/*** ALL LEFT COLUMN LINK ***/
		color: var(--green) !important;
		font-size: 14pt !important;
		line-height: 20pt;
	}

	.mw #rcnt .col #center_col .rc .r .fl {
		color: transparent;
	}

	.mw #rcnt .col #center_col .rc .s .f {
		height: 25px !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}

	.mw #rcnt .col #center_col .rc cite::before,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(1):before {
		background: no-repeat url("https://i.imgur.com/pbTyp8q.png") center 55% !important;
		background-size: 15px auto !important;
		color: transparent !important;
		content: "dd" !important;
		margin-right: 8px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(2),
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(3) {
		color: var(--secondary-color) !important;
		font-size: 14pt !important;
	}

	.mw #rcnt .col #center_col .rc .s *,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .st {

		/*** ALL LEFT COLUMN DESCRIPTION ***/
		color: var(--primary-color);
		font-size: 14pt !important;
		line-height: 20pt !important;
	}

	.mw #rcnt .col #center_col .rc .s a {
		color: var(--blue) !important;
		font-weight: normal;
	}

	.mw #rcnt .col #center_col .rc .s .osl {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TAGS ***/
		color: transparent !important;
		margin-top: 15px !important;
		margin-bottom: 0px !important;
	}

	.mw #rcnt .col #center_col .rc .s .osl a {
		background: #436EBC;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		line-height: 31pt !important;
		padding: 5px 10px 6px 10px !important;
		white-space: nowrap;
		margin-right: -8px;
	}

	.mw #rcnt .col #center_col table .st {

		/*** ALL LEFT COLUMN MORE SEARCH ***/
		color: var(--secondary-color);
		font-size: 14pt;
	}

	.mw #rcnt .col #center_col table h3 a {
		color: #436EBC !important;
		font-size: 16pt !important;
	}

	.mw #rcnt .col #center_col table input {
		background: var(--card-bg-2);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		padding: 5px 10px !important;
	}

	.mw #rcnt .col #center_col table button {
		display: none;
	}

	g-expandable-container * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	div[role="tabpanel"] div {
		background: var(--card-bg-2) !important;
	}

	.card-section i {

		/*** ALL LEFT COLUMN COPYRIGHT ***/
		color: var(--primary-color);
		font-size: 14pt;
	}

	.card-section a {
		color: var(--blue) !important;
	}

	.mw #rcnt .col #center_col #extrares #brs {

		/*** ALL LEFT COLUMN RELATED SEARCH ***/
		margin-top: -20px !important;
	}

	.mw #rcnt .col #center_col #extrares #brs h3 {
		color: var(--primary-color) !important;
		font-family: "Roboto Condensed" !important;
		font-size: 16pt !important;
	}

	.mw #rcnt .col #center_col #extrares #brs a {
		color: var(--blue) !important;
		font-size: 14pt !important;
		line-height: 18pt !important;
	}

	#rso .kno-kp .kp-blk {

		/*** ALL LEFT COLUMN PEOPLE ALSO ASK ***/
		background: var(--card-bg-2) !important;
		border: none !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	#rso .kno-kp .kp-blk * {
		border-color: var(--border-color);
		color: var(--primary-color);
		font-size: 14pt;
	}

	#rso .kno-kp .kp-blk .match-mod-horizontal-padding {
		border-bottom: 1px solid var(--border-color) !important;
	}

	g-inner-card {

		/*** ALL LEFT COLUMN CARDS ***/
		background: var(--card-bg-2);
		border: none !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	g-inner-card * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	g-section-with-header h3 {

		/*** ALL LEFT COLUMN CARDS TITLE ***/
		color: var(--primary-color) !important;
		font-size: 16pt !important;
	}

	g-link * {

		/*** ALL LEFT COLUMN CARDS LINK ***/
		color: var(--blue) !important;
	}

	g-section-with-header .ellip,
	cite.ellip {
		color: var(--green) !important;
		font-size: 14pt;
	}

	g-section-with-header cite.ellip {
		height: 30px !important;
		overflow: visible !important;
	}

	g-fab {

		/*** ALL LEFT COLUMN CARDS ARROW ***/
		background: var(--card-bg) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	g-section-with-header div {

		/*** ALL LEFT COLUMN OTHERS CARDS ***/
		border-color: transparent !important;
	}

	g-section-with-header div lazy-load-item * {
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	g-more-link * {
		color: var(--blue) !important;
		font-size: 14pt;
	}

	#extrares .kp-blk {
		background: var(--card-bg-2) !important;
		border: none !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	#extrares .kp-blk * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	#knocube {
		background: var(--card-bg-2) !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	#knocube * {
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	#dictionary-modules * {

		/*** ALL LEFT COLUMN DICTIONARY */
		background-color: transparent;
		color: var(--primary-color);
		font-size: 14pt;
	}

	.lr_dct_lbl_box {
		font-weight: bold;
		margin-left: -6px;
	}

	.lr_dct_sf_sens {
		background: var(--card-bg-2) !important;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		margin-top: 10px;
		padding-bottom: 10px;
	}

	#tl_select {
		background: var(--card-bg-2);
		border-radius: 1px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		color: var(--primary-color) !important;
	}

	a[class*="__button"],
	a[class*="__link"],
	a[data-url*="map"],
	div[class*="__borderless"],
	div[class*="__header-container"] div {

		/*** ALL LEFT COLUMN MAP ***/
		background: var(--card-bg-2) !important;
	}

	a[class*="__button"],
	a[class*="__link"] *,
	a[data-url*="map"] *,
	div[class*="__borderless"] *,
	div[class*="__header-container"] div {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		text-transform: capitalize !important;
	}

	div[class*="__tile-label"] {
		color: var(--red) !important;
	}

	.rl-qs-crs-t * {
		background-color: var(--card-bg-2) !important;
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		text-transform: capitalize !important;
	}

	g-tabs,
	.torspo_view__table,
	.tsp-view,
	div[class*="items-frame"] * {

		/*** ALL LEFT COLUMN SPORTS ***/
		background: var(--card-bg-2) !important;
		border-color: var(--border-color) !important;
	}

	.tsp-view * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	.lr_container.mod,
	.lr_container.mod div {

		/*** ALL LEFT COLUMN MOVIES ***/
		background: var(--card-bg-2) !important;
		border-radius: 2px !important;
	}

	.lr_container.mod * {
		color: var(--primary-color) !important;
		font-size: 14pt;
	}

	.tw-res {

		/*** ALL LEFT COLUMN TWITTER ***/
		padding: 10px 15px !important;
	}

	.obcontainer .card-section {

		/*** ALL LEFT COLUMN MONEY ***/
		background: var(--card-bg-2);
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.obcontainer .card-section div,
	.obcontainer .card-section span {
		background-color: transparent !important;
		color: var(--primary-color) !important;
	}

	.obcontainer .card-section input,
	.obcontainer .card-section select {
		background: var(--body-bg) !important;
		border-radius: 1px !important;
		color: var(--primary-color) !important;
	}

	.obcontainer .card-section div {
		border-radius: 0px;
	}

	g-expandable-container,
	g-expandable-container div {

		/*** ALL LEFT COLUMN TRANSLATION ***/
		background: var(--card-bg-2) !important;
	}

	#tw-source-text-ta {
		box-shadow: none !important;
	}

	.tw-bilingual-entry {
		line-height: 30pt !important;
	}

	#tw-gtlink {
		color: var(--secondary-color) !important;
		font-size: 14pt !important;
	}

	#gt-src-is {
		display: none !important;
	}

	.mw #rcnt .col #rhs {

		/*** ALL RIGHT COLUMN ***/
		margin-top: 30px;
		margin-left: 745px;
	}

	.mw #rcnt .col #rhs .knowledge-panel,
	#rhs_block .explore-xpanels-desktop__xpanel-wrapper {

		/*** ALL RIGHT COLUMN CONTAINER ***/
		background: var(--card-bg) !important;
		border: none;
		border-radius: 1px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.kp-header div[class*="img"] {

		/*** ALL RIGHT COLUMN IMAGES ***/
		border-radius: 0px !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel div[role="heading"] div span,
	.mw #rcnt .col #rhs .knowledge-panel div[role="heading"] a,
	#rhs_block div {

		/*** ALL RIGHT COLUMN HEADER ***/
		color: var(--primary-color) !important;
		font-family: "Roboto Condensed" !important;
		font-size: 16pt;
	}

	.mw #rcnt .col #rhs .knowledge-panel span,
	.mw #rcnt .col #rhs .knowledge-panel div,
	#rhs a[role="button"] * {

		/*** ALL RIGHT COLUMN TEXT ***/
		color: var(--primary-color) !important;
		font-size: 14pt;
		font-weight: normal !important;
		line-height: 20pt !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel *,
	#rhs_block * {
		border-color: var(--border-color);
	}

	.mw #rcnt .col #rhs .knowledge-panel a {

		/*** ALL RIGHT COLUMN LINKS ***/
		color: var(--blue);
		font-size: 14pt;
	}

	.mw #rcnt .col #rhs .knowledge-panel .mod div > a {
		color: var(--primary-color) !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel span .fl {

		/*** ALL RIGHT COLUMN CATEGORIES ***/
		color: var(--secondary-color) !important;
		font-weight: normal !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .ab_button {

		/*** ALL RIGHT COLUMN BUTTONS ***/
		background: var(--card-bg-2) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: var(--primary-color) !important;
		font-size: 14pt;
		font-weight: normal !important;
		padding: 5px 10px !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel svg {
		filter: brightness(0) var(--invert) !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .rl_item {

		/*** ALL RIGHT COLUMN OTHERS ***/
		background: transparent;
		line-height: 20pt !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .rl_item * {
		font-size: 14pt !important;
	}

	#rhs .kp-blk {
		background: var(--card-bg);
		border: none;
		border-radius: 1px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	}

	#rhs .kp-blk * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	#rhs .kp-blk .ellip {
		color: var(--blue) !important;
	}

	#rhs .rhsvw:hover {
		background: transparent;
	}

	div[class*="_overlay"],
	div[class*="_overlay"] div[role="dialog"] div {

		/*** ALL RIGHT COLUMN POPUP ***/
		background: var(--body-bg) !important;
	}

	div[class*="_container"] div[class*="_content"] {
		background: var(--card-bg);
		border: none !important;
		border-radius: 0px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	g-dialog-content {
		background: var(--card-bg);
		border: none !important;
		border-radius: 0px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	div[class*="_container"] div[class*="_content"] *,
	g-dialog-content * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		line-height: 20pt !important;
	}

	g-button,
	g-menu,
	g-raised-button {
		background: var(--card-bg-2) !important;
		border: none !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	g-button {
		font-weight: normal !important;
		padding: 10px !important;
		margin-top: -10px;
	}

	g-menu,
	g-menu * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	g-menu-item {
		background: transparent !important;
	}

	g-raised-button {
		height: 42px !important;
	}

	.xpdopen div[jsname*="l"] {
		background: var(--card-bg-2) !important;
	}

	.xpdopen div[jsname*="l"] svg,
	g-dialog-content div[jsname*="l"] svg {
		position: relative !important;
		top: -4px !important;
	}

	g-lightbox > div:nth-of-type(2),.goog-reviews-write-widget-modal-bg {
		background: rgba(0, 0, 0, .8) !important;
	}

	.review-dialog,
	.goog-reviews-write-widget-modal-content {
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	#reviewSort {
		border-top: 1px solid var(--border-color) !important;
	}

	.review-dialog .review-dialog-body div {
		background: var(--card-bg) !important;
	}

	.review-dialog .review-dialog-body div * {
		color: var(--primary-color);
		font-size: 14pt;
		line-height: 20pt;
	}

	g-dropdown-button {
		margin-top: 5px !important;
	}

	.publish-review,
	.tile.user-tile,
	.tile.rating-tile,
	.tile.review-text-tile-with-attachment,
	.tile.add-photo-tile,
	.content-scrollable-fill,
	.tile.review-visit-tile,
	.add-photo-indent,
	.tile.footer-tile {
		background: var(--card-bg) !important;
	}

	.publish-review * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	.review-visit-date-field,
	.add-photo {
		border-color: var(--border-color);
	}

	.quantum-button-inner-box {
		background: var(--card-bg-2);
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	/* IMAGES */

	/** DESCRIPTION : change the elements of the images page **/
	#qbi {

		/*** IMAGES SEARCH BUTTON ***/
		background: no-repeat url("https://i.imgur.com/NgGyw86.png") center !important;
		background-size: 21px auto !important;
		margin-top: -2px !important;
		margin-right: -8px !important;
		opacity: 1 !important;
	}

	#tsf div[role="button"] {
		margin-right: 6px !important;
	}

	#qbp {

		/*** IMAGES SEARCH CONTAINER ***/
		background: var(--card-bg);
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		height: 187px !important;
		position: fixed !important;
		top: 0px !important;
		right: 0px !important;
		bottom: 0px !important;
		left: 0px !important;
		margin: auto !important;
	}

	.qbtt {

		/*** IMAGES SEARCH CONTAINER HEADER ***/
		color: var(--primary-color);
		font-size: 16pt !important;
		font-weight: normal !important;
	}

	#qbdt {

		/*** IMAGES SEARCH CONTAINER TEXT ***/
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	.qbtbha.sl {

		/*** IMAGES SEARCH CONTAINER TABS ***/
		background: transparent !important;
		border: none !important;
		color: var(--primary-color) !important;
	}

	.qbtbha.sl * {
		color: var(--primary-color) !important;
	}

	#qbuti,
	#qbfti {
		display: none !important;
	}

	#qbx {

		/*** IMAGES SEARCH CONTAINER CLOSE BUTTON ***/
		background: no-repeat url('https://imgur.com/4GlrMN7.png') center !important;
		background-size: cover !important;
		height: 25px !important;
		width: 25px !important;
		filter: brightness(0) var(--invert) !important;
	}

	.qbtbp {

		/*** IMAGES SEARCH CONTAINER FOOTER ***/
		background: var(--card-bg-2) !important;
		border-top: none !important;
	}

	.qbwr .qbtbha,
	.qbwr .qbtbha * {
		font-family: "Roboto Condensed" !important;
		font-size: 14pt !important;
		font-weight: normal !important;
	}

	#qbui {
		background: var(--card-bg);
		border: none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		border-radius: 2px !important;
		color: var(--primary-color);
		font-size: 14pt !important;
		font-family: "Roboto Condensed" !important;
		padding-left: 9px !important;
	}

	#qbbtc .gbqfb {
		font-family: "Roboto Condensed" !important;
		font-size: 14pt !important;
		font-weight: normal !important;
		width: 150px !important;
	}

	#qbfile {
		font-family: "Roboto Condensed" !important;
		font-size: 14pt !important;
	}

	g-scrolling-carousel {

		/*** IMAGES SCROLL BAR ***/
		background: var(--card-bg) !important;
		padding: 10px !important;
		padding-top: 13px !important;
		margin: -13px -15px 20px -15px !important;
	}

	#isr_chc g-left-button,
	#isr_chc g-right-button {
		background: var(--card-bg) !important;
	}

	#isr_chc g-left-button div,
	#isr_chc g-right-button div {
		filter: brightness(0) var(--invert);
	}

	.ll0QOb {
		background: transparent !important;
		border: none !important;
	}

	#isr_chc {

		/*** IMAGES TAGS ***/
		margin-top: -22px !important;
	}

	#isr_chc div div {
		border-radius: 2px;
	}

	#isr_chc div div a * {
		border: none;
		color: #FFF;
		font-size: 14pt !important;
		font-weight: normal !important;
	}

	#isr_chc div div a > div {
		background-color: #4285F4;
	}

	#isr_chc div div a div g-img {
		border-radius: 1px !important;
		height: 37pt !important;
		margin-top: 5px;
		margin-left: 5px;
	}

	.rg_l {

		/*** IMAGES CONTAINER ***/
		background: var(--card-bg) !important;
	}

	.rg_ilmbg,
	.irc_idim {

		/*** IMAGES DIMENSIONS BAR ***/
		background: rgba(51, 51, 51, .9) !important;
		border-radius: 1px !important;
		color: #FFF !important;
		font-size: 15pt !important;
		line-height: 23px !important;
		width: 100%;
		padding: 15px 10px 18px 15px !important;
	}

	.rg_anbg,
	.irc_fd {

		/*** IMAGES PUBLISHED BAR ***/
		background: rgba(51, 51, 51, .9) !important;
		border-radius: 1px !important;
		width: 100%;
		padding: 15px 10px 18px 15px !important;
	}

	.rg_anbg * {
		color: #FFF !important;
		font-size: 15pt !important;
		line-height: 23px !important;
	}

	.a-no-hover-decoration div {

		/*** IMAGES DETAILS ***/
		height: 100% !important;
		max-height: 100% !important;
		margin-bottom: -5px;
	}

	.a-no-hover-decoration * {
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
		line-height: 20pt !important;
	}

	.immersive-container,
	.irc_b {

		/*** IMAGES SIDEBAR ***/
		background: var(--card-bg) !important;
	}

	.immersive-container * {
		border-color: var(--border-color) !important;
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		line-height: 20pt;
	}

	.immersive-container a {
		color: var(--blue) !important;
	}

	.irc-flact,
	.irc_mb,
	.irc_pvl,
	.irc_hol * {

		/*** IMAGES SIDEBAR BUTTONS ***/
		background: var(--card-bg-2) !important;
	}

	.irc-flact,
	.irc_mb,
	.irc_pvl,
	.irc_hol div {
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	}

	.immersive-container .a-no-hover-decoration * {
		font-size: 12pt !important;
		max-height: 100%;
	}

	#irc_sh div {
		background: var(--card-bg);
	}

	/* NEWS */

	/** DESCRIPTION : change the elements of the news page **/
	#search #rso .g h3 * {

		/*** NEWS TITLE ***/
		color: var(--blue) !important;
		font-size: 14pt !important;
	}

	.ts .slp span {

		/*** NEWS SOURCE ***/
		color: var(--green);
		font-size: 14pt !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	.ts .slp .f {
		color: var(--secondary-color) !important;
	}

	.st {

		/*** NEWS TEXT ***/
		color: var(--primary-color);
		font-size: 14pt;
	}

	#search #rso .g .card-section * {
		font-size: 14pt !important;
	}

	#botstuff {

		/*** NEWS FOOTER ***/
		color: var(--primary-color);
	}

	#botstuff .ab_button {
		background: var(--card-bg-2);
		color: var(--primary-color);
		font-weight: normal;
		font-size: 14pt;
		padding: 8px 15px 10px 15px;
	}

	#botstuff .ab_button:hover {
		border: none;
	}

	/* SHOPPING */

	/** DESCRIPTION : change the elements of the shopping page **/
	.sh-dlr__list-result {

		/*** SHOPPING CARDS ***/
		box-shadow: none !important;
		margin-top: -10px !important;
		margin-bottom: 0px !important;
		margin-left: 10px !important;
	}

	.SOTxMc {
		background: var(--card-bg) !important;
		border-bottom: none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding: 20px 0px 24px 5px !important;
		width: 100% !important;
		margin-top: -6px !important;
		right: 0px !important;
		left: 0px !important;
		z-index: 9 !important;
	}

	#bcenter > div:nth-of-type(1) * {
		background-color: transparent;
		color: var(--secondary-color) !important;
		font-size: 14pt !important;
		font-family: "Roboto Condensed";
	}

	#bcenter > div:nth-of-type(1) a[href*="settings"] {
		margin-right: 30px !important;
	}

	.sh-dr__restricts {
		display: none !important;
	}

	.sh-dlr__list-result *:not(a),.pspo-content * {
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	.sh-dlr__list-result a,
	.sh-t__title {
		color: #436EBC !important;
		font-size: 16pt !important;
		font-stretch: condensed !important;
	}

	.pspo-content a {
		color: #436EBC !important;
	}

	.sh-dp__cont {
		border-bottom: 1px dotted var(--border-color) !important;
		box-shadow: none;
	}

	.kpbb.sh-sb__shop-link {
		background: #436EBC;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: #FFF !important;
		font-weight: normal;
		padding: 10px !important;
	}

	.sh-dtt__top-tools {
		border-bottom: 1px dotted var(--border-color);
		font-size: 14pt !important;
		padding: 10px 20px 12px 20px !important;
		text-transform: lowercase !important;
	}

	.sh-dtt__top-tools * {
		border-color: var(--border-color);
	}

	#gko-sp.gko-open {
		border-bottom: 1px solid var(--border-color) !important;
		box-shadow: none !important;
	}

	#gko-sp.gko-open * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	.sh-sr__shop-result-header {
		color: var(--primary-color);
		font-size: 16pt;
		margin-left: 20px;
	}

	#topstuff div {
		border-color: transparent;
	}

	.sh-vr__options.card-section {
		margin-left: 20px !important;
	}

	.sh-vr__link {
		font-size: 14pt !important;
	}

	.sh-ds__desc {
		line-height: 20pt;
	}

	.sg-atcb__add-to-cart-button {
		background: var(--card-bg-2);
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding-top: 3px !important;
	}

	.sg-atcb__add-to-cart-button * {
		color: var(--primary-color);
	}

	.sh-dr__restricts *,
	.sh-dgr__grid-result *,
	.sh-sr__shop-result-group * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		line-height: 20pt;
	}

	.sh-dgr__grid-result div,
	.sh-sr__shop-result-group {
		background: transparent;
		box-shadow: none;
	}

	.sh-dsd__list-name {
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	.sh-dc__carousel.sh-dc__draggable div[class*="_-i"],
	.sh-dsd__drawer-item {
		background: var(--card-bg);
		border: none;
		border-radius: 1px !important;
	}

	.sh-dsd__drawer-item * {
		color: var(--primary-color);
	}

	/* MAP */

	/** DESCRIPTION : change the elements of the map page **/
	#searchboxinput {
		font-size: 14pt !important;
	}

	widget-pane-content * {
		font-size: 12pt !important;
		line-height: 15pt !important;
	}

	/* PERSONAL */

	/** DESCRIPTION : change the elements of the personal page **/
	.g.pir {
		background: transparent !important;
		border: none !important;
	}

	.g.pir {
		font-size: 14pt;
	}

	/* SETTINGS */

	/** DESCRIPTION : change the elements of the settings page **/
	.sfbgg {
		border: none;
	}

	.appbar {
		background: var(--card-bg) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: var(--primary-color);
	}

	.leftPane *,
	.rightPane *,
	.bottom-wrapper * {
		border-color: transparent !important;
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	.mitem:hover {
		background: transparent;
		opacity: .5;
	}

	.jfk-button-standard,
	.jfk-button-standard:active,
	.jfk-button-standard:hover {
		background: var(--card-bg) !important;
		border-color: transparent !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.jfk-button-action:hover {
		background: var(--blue);
		border-color: transparent;
	}

	.jfk-radiobutton-radio {
		background: var(--card-bg) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		margin-top: 5px !important;
	}

	.bottom-wrapper div[id*="button"],
	.bottom-wrapper input {
		background: var(--card-bg);
	}

	.bottom-wrapper div[id*="button"]:hover,
	.bottom-wrapper input:hover {
		border-color: transparent;
	}

}

@-moz-document regexp("https://www.google.*/preferences.*") {
	#gbw,
	.sfbgg {
		display: none;
	}

	.appbar {
		padding-bottom: 5px !important;
	}

}
