/* ==UserStyle==
@name           Hope 
@namespace      https://github.com/Catgrills/Hope
@version        1.3.8
@description    An user style for Google called Hope.
@author         Catgrills/Katgrills
@preprocessor 	uso
@var select theme 'Theme' {
	"Light": `
	:root {
		--body-bg: #F0F1F5 !important;
		--card-bg: #FFF !important;
		--card-bg-2: #F8F8F8 !important;
		--border-color: #DFE1E5 !important;
		--primary-color: #545454 !important;
		--secondary-color: #7E7E7E !important;
		--invert: invert(0) !important;
		--blue: #436EBC !important;
		--green: #1E8945 !important;
		--red: #DE5246 !important;
		--orange: #E67E22 !important;
	}
	`,
	"Dark":`
	:root {
		--body-bg: #2F2E2E !important;
		--card-bg: #333 !important;
		--card-bg-2: #515151 !important;
		--border-color: #252525 !important;
		--primary-color: #FFF !important;
		--secondary-color: #BEBEBE !important;
		--invert: invert(1) !important;
		--blue: #436EBC !important;
		--green: #1E8945 !important;
		--red: #DE5246 !important;
		--orange: #E67E22 !important;
	}
	`
}
==/UserStyle== */
@-moz-document regexp("https*://www.google..*") {

	/*[[theme]]*/

	/* GENERAL */
    
	/** DESCRIPTION : change the elements of all page **/
	* {
		font-family: "Roboto Condensed", "ぼくたちのゴシック２ボールド" !important;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	select {
        color: var(--primary-color) !important;
        font-size: 14pt !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
    
	input::-moz-placeholder {
		color: var(--primary-color);
		font-size: 14pt !important;
	}
  
	#main,
	#viewport,
	#yDmH0d.notranslate {
		background: var(--body-bg);
	}

	#main .mw {
		max-width: 100%;
	}
    
	.commercial-unit-desktop-rhs.rhsvw /*** ADS CARDS ***/,
	.commercial-unit-desktop-top,
	#tvcap,
	.duf3 /*** FEEDBACK LINK CARD ***/,
	div[id*="ed_"] /*** OUTLINE FOCUS ***/,
	.exp-outline,
	#fbarcnt,
	g-bubble /*** BUBBLE ICON ***/,
	#gws-output-pages-elements-homepage_additional_languages__als /*** LANGUAGES ***/,
	.kno-ftr,
	.H73aad /*** CLAIM THIS KNOWLEDGE PANEL ***/,
	#irl_r_a /*** REPORT IMAGE ***/,
	li[jscontroller="iuJlef"] /*** SAFE SEARCH ***/,
    	li a[href="/preferences"],
    	a[href*="/save?"] /*** COLLECTION ***/,
	.rhsvw.kno-ftr /*** FEEDBACK PANEL ***/,
	.section-social-share-feedback-link,
	.section-social-share,
	.sh-sr__shop-result-header /*** SHOPPING BUY ON GOOGLE HEADER ***/,
	.sh-vrd__container.sh-sr__shop-result-group /*** SHOPPING FOOTER ***/,
	.std.stp.card-section /*** TIPS ***/,
	#user-notice-legal-disclosure-icon-link /*** NOTICE DISCLOSURE ***/,
	.yWc32e /*** TRANSLATE THIS PAGE ***/,
	.mw #rcnt .col #center_col .rc .r .fl,
	#eob_9 {
		display: none;
	}

	/* HOME */

	/** DESCRIPTION : change the elements of the home page **/
	.gb_Ua.gb_Ag.gb_i.gb_zg.gb_Dg.gb_Rf *,
	.gb_Ua.gb_Bg.gb_i.gb_Ag.gb_Eg.gb_Sf *{
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}

	.gb_pc {
		filter: brightness(0) var(--invert) !important;
	}

	#searchform center input {
		background: var(--blue);
		border: none !important;
		border-radius: 2px !important;
		color: #FFF !important;
		font-size: 14pt !important;
		padding-bottom: 2px !important;

	}

	/* HEADER */

	/** DESCRIPTION : change the elements of the header **/
	.sfbg,
	.minidiv .sfbg,
	#kO001e,
	#sf {
	/*** HEADER CONTAINER ***/
		background: var(--card-bg);
	}

	.RNNXgb /*** MAIN SEARCH BAR ***/,
	#sf div[jsname="RNNXgb"] /*** IMAGE SEARCH BAR ***/,
	#sfdiv /*** OTHERS SEARCH BAR ***/ {
		background: transparent;
		border-bottom: 1px solid var(--border-color);
		border-radius: 1px !important;
		border-width: 0px 0px 1px 0px;
	}

	.RNNXgb,
	#sfdiv,
	.sbib_a,
	#sf div[jsname="RNNXgb"] {
		background: transparent !important;
		box-shadow: none !important;
	}

	.RNNXgb:hover,
	#sfdiv:hover,
	.sbib_a:hover,
	#sf div[jsname="RNNXgb"]:hover,
	.sbib_a:focus {
		border-color: var(--border-color);
	}

	.RNNXgb *,
	#sfdiv *,
	#sf div[jsname="RNNXgb"] * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	.sbfc .RNNXgb /*** MAIN SEARCH BAR FOCUS ***/,
	.emcav .RNNXgb {
		width: 638px !important;
		margin-left: 28px !important;
	}

	.A9xB4 div[jsname="RNNXgb"] /*** IMAGE SEARCH BAR FOCUS ***/ {
		padding-left: 27px !important;
		width: 638px !important;
	}

	.iblpc /*** MAIN SEARCH BAR ICON POPUP ***/,
	.AVSjFc /*** IMAGE SEARCH BAR ICON POPUP ***/ {
		display: none !important;
	}

	.minidiv .sfbg {

		/*** MAIN MINI SEARCH BAR ***/
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
	}

	.minidiv .gsfi { 

		/*** MAIN MINI SEARCH BAR INPUT ***/
		font-size: 14pt !important;
	}

	.UUbT9 /*** MAIN SEARCH SUGGESTION BOX ***/,
	#sf div[jsname="UUbT9"] /*** IMAGE SEARCH SUGGESTION BOX ***/,
	.sbdd_a .sbdd_b /*** OTHERS SEARCH SUGGESTION BOX ***/ {

		/*** SUGGESTION BOX ***/
		width: 664px !important;
		margin-left: 15px;
	}

	.sbdd_a .sbsb_a {
		margin-left: -30px;
	}

	.UUbT9 .aajZCb,
	#sf div[jsname="UUbT9"],
	.sbdd_a .sbsb_a {
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 4px;    
		box-shadow: none !important;  
	}

	.sbdd_a .sbdd_b {
		background: var(--card-bg) !important;
	}

	.sbsb_c:first-child .sbse {
		border: none !important;
	}

	.UUbT9 *,
	#sf div[jsname="UUbT9"] *,
	.sbdd_a .sbdd_b * {
		border: none;
		color: var(--primary-color);
		font-size: 14pt;
	}

	.sbdd_a .sbdd_b .sbsb_c {
		padding: 5px 0px;
	}

	.UUbT9 ul[role="listbox"] li:hover,
	#sf div[jsname="UUbT9"] ul[role="listbox"] li:hover,
	.sbdd_a .sbdd_b .sbsb_c:hover {
		background: transparent;
		opacity: .6;
	}

	.sbic /*** MAIN SEARCH SUGGESTION BOX ICONS ***/,
	.pmjENe /*** IMAGE SEARCH SUGGESTION BOX ICONS ***/,
	#sbfblt /*** SEARCH SEARCH SUGGESTION BOX REPORT ***/,
	.sbsb_j /*** OTHERS SEARCH SUGGESTION BOX LEARN MORE ***/,
	.UUbT9 a[href*="https://support.google.com/websearch/answer"] /*** IMAGE SUGGESTION BOX HELP ***/ {
		display: none;
	}

	#hdtbSum,
	.ndYZfc /*** IMAGE SEARCH NAVIGATION BAR ***/ {

		/*** HEADER NAVIGATION BAR ***/
		background: var(--card-bg);
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	}

	#hdtb {
		border: none;
	}

	#hdtbSum {
		padding-bottom: 8px;
	}

	div > c-wiz > div:nth-of-type(1) div {
		background: transparent;
		border: none;
	}

	#hdtb *,
	div > c-wiz > div:nth-of-type(1) * {

		/*** HEADER NAVIGATION BAR TAB ***/
		font-size: 14pt;
	}

	#hdtb svg,
	div > c-wiz > div:nth-of-type(1) svg {
		margin-top: -3px;
	}

	#hdtb-msb .hdtb-mitem.hdtb-msel,
	div > c-wiz > div:nth-of-type(1) .rQEFy {

		/*** HEADER NAVIGATION BAR CURRENT TAB ***/
		border-bottom: 5px solid #1A73E8 !important;
	}

	#hdtb-msb .hdtb-mitem.hdtb-msel {

		/*** OTHERS SEARCH NAVIGATION BAR CURRENT TAB ***/
		padding-bottom: 18px !important;
	}

	div > c-wiz > div:nth-of-type(1) .NZmxZe {

		/*** IMAGE SEARCH NAVIGATION BAR CURRENT TAB ***/
		padding-bottom: 13px !important;
	}

	#hdtb-msb .hdtb-tl-sel, 
	#hdtb-msb .hdtb-tl-sel:hover,
	#hdtb-tls:hover,
	#hdtb-tls:active,
	.XD1Bsc, 
	.XD1Bsc:hover,
	.ZXJQ7c:hover,
	.XD1Bsc:active {

		/*** HEADER NAVIGATION BAR TOOLS BUTTON ***/
		background-color: var(--card-bg) !important;
		background-image: none;
		border: none !important;
		box-shadow: none !important;
		color: var(--primary-color) !important;
	}

	#hdtbMenus {

		/*** HEADER NAVIGATION BAR TOOLS MENU ***/
		background: var(--card-bg) !important;
		border-bottom: 1px solid var(--border-color) !important;
		padding: 10px 0px !important;
	}

	.hdtbU.hdtb-mn-o {
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px !important;
		box-shadow: none !important;
	}

	.hdtbU.hdtb-mn-o * {
		background: var(--card-bg) !important;
		border-color: var(--border-color) !important;
		color: var(--primary-color) !important;
	}

	.qcTKEe *,
	.irf0hb * {

		/*** IMAGE HEADER NAVIGATION BAR TOOLS MENU ***/
		color: var(--primary-color) !important;
	}

	.H1KrKd {
		margin-top: 1px !important;
		margin-left: 3px !important;
	}

	.H1KrKd svg path {
		fill: var(--primary-color);
	}

	.irf0hb {
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px !important;
		box-shadow: none !important;
	}

	.EHzcec {

		/*** HEADER APP POPUP ***/
		background: #000 !important;
	}

	div[aria-label*="Information"] {

		/*** HEADER ACCOUNT POPUP ***/
		background-color: var(--card-bg) !important;
		border-radius: 2px !important;
		box-shadow: none;
	}

	div[aria-label*="Information"],
	div[aria-label*="Information"] * {

		/*** HEADER ACCOUNT POPUP TEXT ***/
		font-size: 14pt !important;
		line-height: 20pt !important;
	}

	div[aria-label*="Information"] .gb_qb,
	div[aria-label*="Information"] .gb_5b {
		color: var(--secondary-color);
	}

	div[aria-label*="Information"] .gb_ob,
	div[aria-label*="Information"] .gb_3b {

		/*** HEADER ACCOUNT POPUP USERNAME ***/
		color: var(--primary-color);
	}

	div[aria-label*="Information"] .gb_Ob:hover {

		/*** HEADER ACCOUNT POPUP HOVER ***/
		background: transparent !important;
		opacity: .6;
	}

	div[aria-label*="Information"] .gb_Ob {
		background: transparent !important;
	}

	div[aria-label*="Information"] .gb_yb {

		/*** HEADER ACCOUNT POPUP ADD ANOTHER ACCOUNT ***/
		background: var(--card-bg-2);
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
		color: var(--primary-color);
		margin-top: 15px;
	}

	div[aria-label*="Information"] .gb_yb:hover,
	div[aria-label*="Information"] .gb_yb:active, 
	div[aria-label*="Information"] .gb_yb:focus:active {
		background: var(--card-bg-2);
	} 

	div[aria-label*="Information"] .gb_Eb {

		/*** HEADER ACCOUNT POPUP SIGN OUT ACCOUNT ***/
		border: none;
	}

	div[aria-label*="Information"] div {

		/*** HEADER ACCOUNT POPUP BORDERS ***/
		border-bottom-color: var(--card-bg);
		border-top-color: var(--border-color) !important;
	}

	div[aria-label*="Information"] .gb_eb a[href*="myaccount"],
	div[aria-label*="Information"] a[target="_top"] {

		/*** HEADER ACCOUNT POPUP BUTTONS ***/
		background: var(--card-bg-2) !important;
		border: none;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		color: var(--primary-color);
		padding: 6px 15px 8px 15px;
	}

	div[aria-label*="Information"] .gb_vb {

		/*** HEADER ACCOUNT POPUP FOOTER ***/
		display: none;
	}

	/* SEARCH CONTENT */

	/** DESCRIPTION : change the elements of the search content **/
	#appbar {

		/*** SEARCH CONTENT RESULTS NUMBER ***/
		background: transparent;
		margin-top: 10px;
	}

	#appbar * {
		color: var(--secondary-color);
		font-size: 14pt;
	}

	#taw *,
	#fprs * {

		/*** SEARCH AUTO CORRECT ***/
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	#taw span,
	#fprs span {
		color: var(--primary-color);
	}

	#fprsl,
	#taw a,
	#taw i,
	a.spell_orig {
		color: var(--blue) !important;
	}
	
	c-wiz g-card {
		background: transparent;
	}

	c-wiz g-card * {
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	c-wiz g-card a {
		color: var(--blue) !important;
	}

	#tsf .chip * {

		/*** SEARCH IMAGE SOURCE ***/
		background: transparent !important;
		border: none !important;
	}

	#topstuff .card-section * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	#topstuff .gl a {
		color: var(--blue) !important;
	}

	#extabar div[role="navigation"] div {

		/*** SEARCH EXTRA BAR ***/
		border-color: var(--border-color);
	}

	#extabar div[role="navigation"] .uais2d {
		background: var(--card-bg);
		border-radius: 4px !important;
	} 

	#extabar div[role="navigation"] .uais2d * {
		border: none;
		color: var(--primary-color);
		font-size: 12pt;
	}

	.rl_feature {

		/*** SEARCH EXTRA BAR 2 ***/
		background: transparent !important;
	}

	.rl_center {
		border-color: var(--border-color);
	}

	.rlc__slider,
	.rlc__slider-page {
		background: transparent !important;
	}

	.mlo-c {
		background: transparent;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.2) !important;
	}

	.rl_item.rl_item_base {
		background: var(--card-bg);
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	}

	.rl_item.rl_item_base * {
		color: var(--primary-color);
		font-size: 12pt !important;
	}

	.klbar {

		/*** SEARCH EXTRA BAR 3 ***/
		border-color: var(--border-color);
	}

	#botabar .kappbar {
		background: transparent;
	}

	.klitem {
		background: var(--card-bg);
	}

	.klitem.selected,
	.klitem:hover {
		background: var(--card-bg);
		border: none;
		opacity: .5
	}

	.klitem * {
		font-size: 12pt !important;
	}
	
	.g {

		/*** SEARCH CONTENT RESULTS ***/
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px;
		padding: 12px 18px 18px 18px;
		margin-bottom: 8px;
		overflow: hidden;
	}

	#search .g.mnr-c.g-blk {
		padding: 12px 50px 0px 0px !important;
	}

	.g * {

		/*** SEARCH CONTENT RESULTS CONTENT ***/
		font-size: 14pt;
	}

	.g .g {
		background: transparent;
	}

	.g .ts {

		/*** NEWS SEARCH CONTENT RESULTS CONTENT ***/
		margin-top: 0px !important;
	}
	
	#search .g.mnr-c.g-blk a,
	#search .g.mnr-c.g-blk h3 {
		color: var(--blue) !important;
	}

	.g cite {

		/*** SEARCH CONTENT RESULTS LINK ***/
		color: var(--green);
		font-size: 14pt;
		line-height: 25pt !important;
	}

	.g cite::before,
	.g .slp > span:nth-of-type(1):before {
		background: no-repeat url("https://i.imgur.com/pbTyp8q.png") center 58% !important;
		background-size: 15px auto !important;
		color: transparent !important;
		content: "dd" !important;
		margin-right: 8px !important;
	}
	
	#search .g.mnr-c.g-blk cite {
		color: var(--green) !important;
	}
	
	.sFZIhb.b {

		/*** SEARCH CONTENT RESULTS FORMAT ***/
		background: var(--green);
		border: none;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		height: 25px;
		line-height: 25px;
		padding: 0px 10px 4px 10px;
		text-transform: lowercase;
		margin-left: 5px;
	}

	.g .action-menu {

		/*** SEARCH CONTENT RESULTS MENU ***/
		display: none;
	}

	.g h3,
	.g h3 * {

		/*** SEARCH CONTENT RESULTS TITLE ***/
		color: var(--blue);
		font-size: 16pt !important;
	}

	.g h3.r {

		/*** OTHERS SEARCH CONTENT RESULTS TITLE ***/
		margin: 0px 0px 5px 0px !important;
	}

	.g .slp,
	.g .slp *,
	.g .P1usbc,
	.g .card-section span {

		/*** SEARCH CONTENT RESULTS DETAILS ***/
		color: var(--secondary-color) !important;
	}

	.g .slp {
		margin-bottom: 10px;
	}

	.g .fl,
	.g .card-section a {
		color: var(--blue) !important;
	}

	.g .osl {

		/*** SEARCH CONTENT RESULTS TAGS ***/
		color: transparent;
		margin-top: 10px;
	}

	.g .osl .fl {
		background: #436EBC !important;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.2);
		color: #FFF !important;
		padding: 4px 15px 7px 15px;
		margin-right: -8px;
		margin-bottom: 5px;
		display: inline-block;
		white-space: nowrap;
	}

	.g .st,
	.g .st * {

		/*** SEARCH CONTENT RESULTS TEXT ***/
		color: var(--primary-color) !important;
	}

	.g .mslg form {
		width: 400px !important;
	}

	.g .mslg form input {
		background: var(--card-bg);
		border: 1px solid var(--border-color) !important;
		box-shadow: none;
		color: var(--primary-color);
		font-size: 14pt;
		padding: 3px 7px !important;
	}

	.g .mslg form .ab_button {
		background: var(--card-bg-2);
		border: 1px solid var(--border-color) !important;
		height: 34px;
	}
	
	hr {
		border-color: var(--border-color) !important;
	}

	g-accordion *,
	g-inline-expansion-bar * {
		border-color: var(--border-color) !important;
		color: var(--primary-color);
	}

	g-accordion div {
		background: transparent !important;
	}

	g-accordion div a {
		color: var(--blue) !important;
	}

	g-accordion div p {
		line-height: 20pt;
	}

	.g .ts img {

		/*** NEWS SEARCH CONTENT RESULTS IMAGE ***/
		border-radius: 50% !important;
	}

	.kp-blk,
	.kp-blk .xpdopen * {

		/*** SEARCH CONTENT CARDS ***/
		border: none !important;
        	color: var(--primary-color);
	}

	.kp-blk .g,
	.g.obcontainer .card-section {
		background: transparent !important;
		border: none;
	}

	.kno-kp cite {
		overflow: visible !important;
	}

	.wtnimb * {

		/*** SEARCH CONTENT SHOW MORE BUTTON ***/
		background: transparent !important;
		border: none !important;
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	.g.obcontainer .card-section input,
	.g.obcontainer .card-section select,
	.g.obcontainer .card-section div {

		/*** SEARCH CONTENT MONEY CARDS ***/
		background: transparent !important;
		border-color: var(--border-color) !important;
		border-radius: 2px;
		color: var(--primary-color) !important;
	}

	#tw-container {

		/*** SEARCH CONTENT TRANSLATE CARDS ***/
		background: transparent !important;
		border: none !important;
	}

	#tw-container * {
		background: var(--card-bg) !important;
		border-color: var(--border-color) !important;
		color: var(--primary-color) !important;
		line-height: 20pt;
	}

	.g.mnr-c.g-blk * {

		/*** SEARCH CONTENT LYRICS CARDS ***/
		border-color: var(--border-color);
	}

	.vk_bk.lr_c_h,
	.vk_bk.lr-s-din {

		/*** SEARCH CONTENT MOVIE CARDS ***/
		color: var(--primary-color) !important;
	}

	#lr_c_tc * {
		background: transparent;
	}

	.tb_l.tb_st {
		border: none !important;
		opacity: .5 !important;
	}

	.lr_c_tf {
		background-color: var(--card-bg-2) !important;
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 14px !important;
	}

	.lr_c_fce {
		margin-bottom: 10px !important;
	}
	
	.vk_c.gws-trips__outer-card * {

		/*** SEARCH CONTENT TRIPS CARDS ***/
		border-color: var(--border-color);
		font-size: 12pt;
	}

	.dw-sb-cont {

		/*** SEARCH CONTENT DICTIONNARY CARDS ***/
		background: transparent !important;
		border: 1px solid var(--border-color);
	}

	.dw-sb-cont .dw-sb-btn,
	.dw-sb-cont .dw-sbi,
	.dw-sb-cont .dw-sbi:focus {
		background: transparent;
		border: none;
	}

	.xpdxpnd.vkc_np {
		background: var(--card-bg-2);
	}

	.vk_arc {
		border-color: var(--border-color);
	}

	.vk_arc * {
		font-size: 14pt !important;
	}

	.vmod,
	.vmod span {
		background: transparent;
	}

	.liveresults-dictionary-thesaurus__chips-text {
		background: var(--card-bg-2) !important;
		border-color: var(--border-color) !important;
		padding: 0px 5px !important;
	}

	.vNr24d {
		height: auto;
	}
	
	.TieM1d {

		/*** SEARCH CONTENT OTHERS CARDS ***/
		border: none !important;
		overflow: visible;
	}

	.DRolee {
		color: var(--primary-color);
		padding-bottom: 10px;
	}

	.vk_c {

		/*** SEARCH CONTENT MAP ***/
		background: var(--card-bg);
		border-color: var(--border-color);
		border-radius: 2px !important;
	}

	.vk_c * {
		border-color: var(--border-color);
		color: var(--primary-color);
	}

	.rllh__header-container div {
		background: var(--card-bg) !important;
		font-size: 14pt !important;
	}

	.rlf__open {
		border: none !important;    
		color: transparent !important;
	}
	
	.rl-qs-crs-t div {
		font-size: 14pt !important;
		text-transform: capitalize !important;
	}

	.rl-qs-crs-t:hover {
		background: var(--card-bg) !important;
		opacity: .6;
	}

	.f196ee {

		/*** SEARCH CONTENT FINANCE ***/
		border: none;
	}

	#knowledge-finance-wholepage__entity-summary * {
		background: transparent;
		border-color: var(--border-color) !important;
		color: var(--primary-color);
		line-height: 20pt !important;
	}

	g-flat-button > div {
		background: var(--blue) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	g-flat-button > div * {
		color: #FFF !important;
		font-weight: bold !important;
	}

	g-flat-button svg {
		margin-top: 2px !important;
	}

	.kp-blk * {

		/*** SEARCH CONTENT CARDS TEXT ***/
		color: var(--primary-color);
	}

	.kp-blk a {
		color: var(--blue);
	}

	.truncation-information {
		color: var(--blue) !important;
		font-size: 14pt !important;
	}

	.kp-blk h2 {

		/*** SEARCH CONTENT CARDS TITLE ***/
		font-size: 16pt !important;
		margin-top: -10px !important;
	}

	g-section-with-header h3,
	g-section-with-header h3 a {

		/*** SEARCH CONTENT SECTION TITLE ***/
		color: var(--primary-color) !important;
		font-size: 16pt !important;
		margin-top: 10px !important;
	}

	g-inner-card {

		/*** SEARCH CONTENT SECTION CARDS ***/
		background: var(--card-bg);
		border-color: var(--border-color) !important;
		border-radius: 4px !important;
	}

	g-inner-card * {

		/*** SEARCH CONTENT SECTION CARDS TEXT ***/
		font-size: 12pt !important;
	}

	g-inner-card div * {
		color: var(--primary-color) !important;
	}

	g-link a,
	g-inner-card a * {
		color: var(--blue) !important;
	}

	g-fab {

		/*** SEARCH CONTENT SECTION NEXT/PREV BUTTONS ***/
		background: var(--card-bg) !important;
		border-color: var(--border-color) !important;
		box-shadow: none !important;
	}

	.qmv19b {

		/*** SEARCH CONTENT SECTION TOP STORIES ***/
		background: var(--card-bg);
		border-color: var(--border-color);
		border-radius: 4px !important;
	}

	.qmv19b * {
		border-color: var(--border-color);
		color: var(--primary-color) !important;
		font-size: 14pt;
	}

	#isr_chc g-left-button,
	#isr_chc g-right-button {
		background: var(--card-bg-2) !important;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}

	#isr_chc g-left-button {
		margin-left: -15px;
	}

	#isr_chc g-left-button div {
		background-position: bottom;
		padding: 0px !important;
		top: 0px !important;
		left: 8px;
	}

	#isr_chc g-right-button {
		margin-right: -15px;
	}

	#isr_chc g-right-button div {
		background-position: top;
		padding: 0px !important;
		top: 0px !important;
		right: 8px !important;
	}  

	g-more-button * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	g-more-link * {

		/*** SEARCH CONTENT SECTION MORE LINK ***/
		color: var(--blue) !important;
		font-size: 14pt !important;
	}

	g-more-link svg {
		margin-top: 2px;
	}

	.vdur,
	.Woharf,
	.WPQVp {

		/*** SEARCH CONTENT VIDEO TIME ***/
		background: transparent !important;
		color: #FFF !important;
		font-size: 12pt !important;
		font-weight: bold !important;
		text-shadow: 1px 1px 0px #000 !important;
	} 

	#botstuff,
	#botstuff h3 {

		/*** SEARCH CONTENT FOOTER ***/
		color: var(--primary-color) !important;
	}

	#botstuff * {

		/*** SEARCH CONTENT FOOTER TEXT ***/
		font-size: 14pt;
	}

	#botstuff a,
	#botstuff a * {

	/*** SEARCH CONTENT FOOTER LINKS ***/
		color: var(--blue);
		font-size: 14pt;
	}

	#botstuff .ab_button {

		/*** SEARCH CONTENT FOOTER ALERT BUTTON ***/
		background: var(--red);
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.2);
		color: #FFF !important;
		padding: 5px 10px 8px 10px;
	}

	.mw #rcnt .col #center_col #foot span,
	.mw #rcnt .col #center_col #foot a,
	#nav td,
	#nav td a {

		/*** SEARCH PAGINATION ***/
		font-size: 14pt !important;
		margin-right: 2px;
	}

	#foot #navcnt .cur {
		color: var(--primary-color);
	}
	
	#foot.tsf-p * {
		font-size: 14pt !important;
	}

	.mw #rcnt .col #center_col #foot .cur {

		/*** SEARCH PAGINATION CURRENT PAGE ***/
		color: var(--primary-color) !important;
	}

	.mw #rcnt .col #center_col #foot #pnprev span[style*="display:block;"], 
	#nav #pnprev span[style*="display:block;"] {
		background: var(--blue) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 10px !important;
		position: absolute;
		margin-top: 35px !important;
		left: 90px;
	}

	.mw #rcnt .col #center_col #foot #pnnext span[style*="display:block;"], 
	#nav #pnnext span[style*="display:block;"] {
		background: var(--blue) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 10px !important;
		position: absolute;
		margin-top: -5px !important;
		right: 135px;
	}

	.mw #rcnt .col #center_col #foot *,
	.csb {

		/*** PAGINATION LOGO ***/
		background-image: none !important;
	}

	#foot .AaVjTc .YyVfkd {
		color: var(--primary-color);
		font-weight: bold !important;
	}

	#rhs .g-blk.rhsvw,
    	.rhscol.col .rhsvw.g {

		/*** SEARCH CONTENT KNOWLEDGE PANEL ***/
		margin-top: 6px;
		margin-left: -35px !important;
	}

	#rhs .kno-mrg:not(.kno-mrg-si),
	.kp-header:first-child .thumb,
	.kp-header:first-child .luibr .lu-fs {

		/*** SEARCH CONTENT KNOWLEDGE PANEL CONTENT ***/
		border-radius: 1px;
		margin-top: -5px;
	}

	.kno-ecr-pt,
	.kno-rdesc *,
	.rhscol.col .rhsvw.g div[role="heading"] a {
        	color: var(--primary-color) !important;
    	}
	
	.rhscol.col .rhsvw.g * {
		border: none !important;
	}

	.kno-fiu.kno-liu * {
		color: #FFF !important;
	}

	.knowledge-panel * {
		border-color: var(--border-color);
	}

	.knowledge-panel .mod * {
		font-size: 14pt !important;
		line-height: 20pt;
	}

	.knowledge-panel .rl_item {
		background: transparent;
	}

	.knowledge-panel .rl_item .title {
		color: var(--primary-color);
		margin-bottom: 5px;
	}

	.knowledge-panel .ab_button,
	.knowledge-panel g-button {
		background: var(--blue) !important;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 15px 8px 15px;
	}

	.knowledge-panel .ab_button *,
	.knowledge-panel g-button * {
		color: #FFF !important;
	}

	.knowledge-panel g-scrolling-carousel div[data-category-to-scroll*="-"] {
		box-shadow: 0px 1px 2px rgba(0,0,0,.2);
		border-radius: 2px !important;
	}

	.ecodF {
		height: 160px !important;
	}

	.rhsvw:hover {
		background: transparent;
	}

	.rhsvw .ellip,
		span[style="color:#1a0dab"] {
		color: var(--blue) !important;
	}

	.kno-fv {
		color: var(--primary-color) !important
	}

	.common-jslayout-geo-personalplacelist__visible div {
		background: var(--card-bg) !important;
	}

	.orgdxf {
		background: transparent !important;
	}

	.knowledge-panel div[aria-label="More info"] {
		display: none;
	}
	
	#rhs .rhsvw.explore-xpanels-desktop__xpanel-wrapper {
		background: var(--card-bg);
		border: 1px solid var(--border-color) !important;
		margin-top: 6px;
		margin-left: -15px;
	}

	#rhs .rhsvw.explore-xpanels-desktop__xpanel-wrapper g-img {
		border-radius: 1px;
	}

	.korbXb {
		background: rgba(0, 0, 0, .8) !important;
        	border-radius: 1px !important;
	}
    
	.korbXb * {
		color: #FFF !important;
		letter-spacing: 0px !important;
	}

	#rhs .rhsvw.explore-xpanels-desktop__xpanel-wrapper div {
		background: var(--card-bg);
		border-radius: 2px;
	}

	#rhs .rhsvw.explore-xpanels-desktop__xpanel-wrapper * {
		border: none !important;
		color: var(--primary-color);
		font-size: 14pt;
	}

	#rhs .rhsvw.explore-xpanels-desktop__xpanel-wrapper cite {
		overflow: visible !important;
	}

	.desktop-wa-xp-block {
		padding: 0px 16px !important;
	}
    
	.desktop-wa-xp-block cite {
		color: var(--green) !important;
		line-height: 0pt !important;
	}

	#rhs .rhsvw.explore-xpanels-desktop__xpanel-wrapper h3 {
		margin-top: 30px;
	}

	div[role="dialog"],
	div[role="alertdialog"] {

		/*** SEARCH CONTENT POPUP ***/
		background: var(--card-bg) !important;
		border: none !important;
		border-radius: 4px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	div[role="alertdialog"] * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	a[href*="/search/contributions/review"] {

		/*** SEARCH CONTENT REVIEW POPUP ***/
		color: var(--primary-color) !important;
	}

	#ipwqjc {
		background: var(--card-bg-2);
		border: 1px solid var(--border-color);
		border-radius: 2px !important;
		color: var(--primary-color) !important;
		padding: 10px !important;
	}

	div[role="dialog"] textarea::placeholder {
		color: var(--primary-color) !important;
	}

	div[role="dialog"] span.hide-focus-ring {
		border-radius: 2px !important;
		padding: 5px 15px 6px 15px !important;
	} 

	div[role="dialog"] div.hide-focus-ring pre {
		line-height: 20pt !important;
	}

	div[role="dialog"] g-button {
		background: var(--card-bg-2) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding: 6px 15px 10px 15px;
	}

	div[role="dialog"] g-raised-button {
		background: var(--card-bg-2) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		height: 47px !important;
	}

	.section-dialog-header * {
		font-size: 14pt !important;
	}

	div[role="dialog"] * {
		border-color: var(--border-color) !important;
		color: var(--primary-color);
		font-size: 12pt;
	}
	
	div[role="dialog"] svg {
		fill: var(--primary-color);
	}

	g-menu,
	div[role="menu"] {
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px !important;
		box-shadow: none !important;
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	g-menu * {
		color: var(--primary-color);
	}

	div[role="menu"] svg {
		margin-top: -3px;
	}

	.goog-reviews-write-widget-modal-bg {
		background: var(--body-bg);
	}

	.desktop-device.goog-reviews-write-widget-modal-content {
		border-radius: 4px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.publish-review * {
		border-color: var(--border-color);
		color: var(--primary-color);
		font-size: 14pt;
	}

	.publish-review,
	.content-scrollable,
	.tile.footer-tile {
		background: var(--card-bg);
	}

	.review-text {
		background: var(--card-bg-2);
		border: 1px solid var(--border-color);
		border-radius: 2px !important;
		color: var(--primary-color) !important;
		padding: 10px !important;
	}

	.review-visit-label {
		font-size: 14pt !important;
	}

	.review-visit-select-dropdown-image {
		border: none !important;
	}

	.quantum-button-flat-text-blue .quantum-button-inner-box,
	.quantum-button-flat-text-white .quantum-button-inner-box {
		background: var(--blue);
		border: none;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding-bottom: 2px;
	}

	.section-list-item-button:hover {
		background: transparent;
		opacity: .6;
	}

	div[aria-label="Share"] {

		/*** SEARCH CONTENT SHARE POPUP ***/
		background: var(--card-bg);
		border-radius: 2px !important;
	}

	div[aria-label="Share"] * {
		color: var(--primary-color);
		font-size: 14pt;
	}

	div[aria-label="Share"] input,
	div[role="dialog"] .LARRVd {
		background: var(--card-bg-2) !important;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		padding: 5px !important;
		margin-top: 10px;
	}

	.modal-dialog .section-tab-bar {
		border-top: 1px solid var(--border-color) !important;
		border-bottom: 1px solid var(--border-color) !important;
		margin-top: 10px !important;
	}

	.modal-dialog .section-tab-bar * {
		color: var(--primary-color) !important;
	}

	.section-share-summary-subtitle {
		line-height: 20pt !important;
		overflow: visible !important;
	}

	.modal-dialog .section-social-share {
		background: transparent;
	}

	.section-common-input,
	.section-common-input:focus {

	/*** SEARCH CONTENT CREATE POPUP ***/
		border-color: var(--border-color);
	}

	.section-dialog-footer-action-button.blue-button-text {
		color: var(--primary-color);
		font-weight: bold !important;
	}

	g-lightbox .u98ib {

		/*** SEARCH CONTENT ASK POPUP ***/
		background:  rgba(0,0,0,.5) !important;
	}

	.yZZ28b {
		background: var(--card-bg);
		border: none !important;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.DDMKfb {
		background: var(--card-bg-2) !important;
		border-bottom: 1px solid var(--border-color) !important;
		line-height: 20pt;
	}

	g-lightbox textarea {
		background: var(--card-bg-2);
		border: 1px solid var(--border-color) !important;
		border-radius: 2px !important;
		color: var(--primary-color) !important;
		padding: 10px !important;
	}

	g-lightbox .ab_button {
		background: var(--blue);
		border: none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
	}

	g-lightbox .ab_button:hover {
		background: var(--blue);
		border: none;
	}

	g-lightbox .ab_button * {
		color: #FFF !important;
		text-transform: capitalize !important;
	}

	#pqaA,
	#pqaQ {
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	#pqaA div,
	#pqaQ div {
		background: var(--card-bg);
		border-color: var(--border-color);
	}

	#isr_chc div div a > div, 
	div[role="listitem"] a[data-navigation="server"] {

		/*** SEARCH CONTENT TAGS ***/
		background-color: var(--blue);
		border: none;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		font-size: 14pt;
	}

	div[role="listitem"] a[data-navigation="server"] span {
		color: #FFF !important;
	}

	div[role="dialog"] div.hide-focus-ring {

		/*** SEARCH CONTENT SUGGEST EDIT POPUP ***/
		background: var(--card-bg) !important;
		border-color: var(--border-color);
	} 

	.qsSAAe {
		background: var(--card-bg) !important;
	}

	.tyzDUc {
		background: var(--card-bg-2) !important;
		border-top: 1px solid var(--border-color) !important;
		border-bottom: 1px solid var(--border-color) !important;
	}

	.DPvwYc {
		font-family: 'Material Icons Extended' !important;
		margin-top: 7px;
	}

	.null input {
		border-bottom: 1px solid var(--border-color);
		color: var(--primary-color) !important;
		font-size: 12pt !important;
		padding-bottom: 5px;
	}
	
	.null div[role="listbox"] {
		background: var(--card-bg-2) !important;
		padding: 0px !important;
	}

	.null div[role="listbox"] div[role="option"] {
		background: transparent;
		padding: 0px 10px;
	}

	#unstructured-input {
		color: var(--primary-color);
        	font-size: 12pt !important;
	}

	.null textarea {
		border-bottom: 1px solid var(--border-color);
		color: var(--primary-color) !important;
		font-size: 12pt !important;
		padding-bottom: 5px;
	}

	.qsSAAe button {
		border-radius: 2px;
	}
	
	.tyzDUc {
		font-weight: bold;
		padding: 10px 10px 12px 15px !important;
	}

	.CibqKc {

		/*** SEARCH CONTENT PRODUCT POPUP ***/
		background:  var(--card-bg-2) !important;
		border-radius: 4px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.CibqKc * {
		color: var(--primary-color)
	}

	.material-icons-extended {
		font-family: 'Material Icons Extended' !important;
	}

	/* IMAGE CONTENT */

	/** DESCRIPTION : change the elements of the image page **/
	.s0M0Ad,
	.s0M0Ad:hover {

	/*** IMAGE CONTENT COLLECTION ***/
		color: var(--primary-color);
	}

	.isv-r {

		/*** IMAGE CONTENT THUMBNAILS ***/
		margin-bottom: -20px !important;
	}

	.isv-r .islib {
		background: var(--card-bg) !important;
		border: 2px solid var(--border-color) !important;
	}

	.isv-r:hover .islib {
		border-color: var(--orange) !important;
		box-shadow: none !important;
	}

	.YcWSDf {

		/*** IMAGE CONTENT THUMBNAILS FOCUS ***/
		background: transparent;
		border: none;
	}

	.isv-r a[rel="noopener"] {

		/*** IMAGE CONTENT THUMBNAILS DETAILS ***/
		display: none !important;
	}

	.isv-r div[jsname="bOERI"] {

		/*** IMAGE CONTENT THUMBNAILS DIMENSIONS ***/
		display: none;
	}
	
	.VSIspc {
		color: #FFF !important;
		font-weight: bold;
		padding: 10px 10px 12px 10px;
		width: 100%;
	}

	#islrg div[data-id*="Refinement"] {

		/*** IMAGE CONTENT THUMBNAILS RELATED SEARCH ***/
		display: none;
	}

	#islsp {

		/*** IMAGE CONTENT SIDEBAR ***/
		border: 1px solid var(--border-color);
	}

	#islsp div {
		background: var(--card-bg);
		border-color: var(--border-color);
		box-shadow: none;
		font-size: 14pt;
		line-height: 20pt;
	}

	#islsp a[role="button"] div,
	#islsp .ZGGHx,
	#islsp .CIF8af {

		/*** IMAGE CONTENT SIDEBAR BUTTONS ***/
		background: transparent !important;
	}

	.h04bR, 
	.dJcyOc,
	.cEPPT {
		background-color: var(--card-bg);
		border-color: var(--border-color);
	}

	.L43GYb {

		/*** IMAGE CONTENT SIDEBAR BUTTONS MENU ***/
		border: 1px solid var(--border-color) !important;
	}

	#islsp * {

		/*** IMAGE CONTENT SIDEBAR TEXT ***/
		color: var(--primary-color);
	}

	#islsp span {
		font-size: 14pt;
	}

	#islsp .isv-r {

	/*** IMAGE CONTENT SIDEBAR THUMBNAILS ***/
		margin-bottom: 10px !important;
	}

	/* MAP */

	/** DESCRIPTION : change the elements of the map page **/
	.widget-pane-visible,
	.section-layout.section-layout-root.section-scrollbox.scrollable-y.scrollable-show {

		/*** MAP SIDEBAR ***/
		background-color: var(--card-bg) !important;
	}

	.widget-pane.widget-pane-visible * {
		background-color: var(--card-bg);
		border-color: var(--border-color) !important;
		color: var(--primary-color);
	}

	.section-header-button-compact.noprint.section-header-button {
		font-weight: bold !important;
	}   


	.section-layout.section-cardbox {
		background-color: var(--card-bg) !important;
	}

	button[aria-label*="Street View"],
	button[aria-label*="Street View"] div[class*="__shade"],
	button[aria-label*="Street View"] label,
	button[aria-label*="Street View"] span,
	div[class*="__item-"],
	div[class*="__item-"] label,
	.section-image-pack-image-container,
	.section-image-pack-image-container label,
	.section-image-pack-image-container span {

		/*** MAP SIDEBAR IMAGES ***/
		background-color: transparent !important;
	}

	div[class*="__icon-background"] {

		/*** MAP SIDEBAR ICONS ***/
		background: var(--card-bg) !important;
	} 

	button[class*="maps-sprite-"],
	.dir-tt,
	div[class*="__dropdown-icon"],
	div[class*="maps-sprite-"],
	span[class*="__button-previous-icon"],
	span[class*="__button-next-icon"],
	span[class*="maps-sprite-"],
	.maps-sprite-common-arrow-back-black,
	.maps-sprite-omnibox-menu,
	.maps-sprite-settings-chevron-left,
	.renderable-component img,
	.searchbox-hamburger::before,
	.searchbox-searchbutton::before,
	.section-directions-trip-travel-mode-icon,
	.section-header-close-button,
	.section-review-action-menu > .section-review-more-icon,
	.section-review-thumbs-up-gm2,
	.section-review-share-gm2 {
		background-color: transparent !important;
		filter: brightness(0) var(--invert) !important;
	}

	.section-attribute-group-item-icon.maps-sprite-place-attributes-done {
		margin-top: 3px !important;
	}

	.section-result-action-text {

		/*** MAP SIDEBAR BUTTONS ***/
		color: var(--blue) !important;
		font-size: 12pt !important;
	}

	#omnibox #searchbox {

		/*** MAP SIDEBAR SEARCH BAR ***/
		background: var(--card-bg-2) !important;
		border-radius: 1px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: var(--primary-color) !important;
	}

	.section-omnibox-spacer.noprint,
	.section-omnibox-spacer,
	#searchbox .sbib_b::after {
		background: transparent !important;
	}

	.disable-searchbox-shadow .searchbox-shadow {
		border: none;
	}

	#omnibox #searchbox * {
		border-color: var(--border-color) !important;
		font-size: 12pt !important;
	}

	.omnibox-context-mode .searchbox,
	.searchbox.suggestions-shown,
	.searchbox-searchbutton-container::after {
		border-color: var(--border-color);
	}

	#omnibox .suggestions {
		background: var(--card-bg-2);
		border-top-right-radius: 0px !important;
		border-top-left-radius: 0px !important;
		border-bottom-right-radius: 2px !important;
		border-bottom-left-radius: 2px !important;
		margin-left: -15px;
	}

	#omnibox-singlebox .sbdd_a .sbdd_b,
	.widget-directions-suggest-container .sbdd_a .sbdd_b {
		background: transparent !important;
	}

		.section-back-to-list-button {
		background: var(--card-bg-2) !important;
		border-bottom-right-radius: 2px !important;
		border-bottom-left-radius: 2px !important;
	}

	.section-back-to-list-button * {
		background: var(--card-bg-2) !important;
		font-size: 14pt;
	}

	.section-homescreen-expand-entrypoint.noprint {
		background: var(--card-bg-2);
		border-radius: 0px 0px 4px 4px !important;
		box-shadow: none !important;
		color: var(--primary-color);
		font-size: 12pt !important;
	}

	.alias-editor {
		background: var(--card-bg-2);
		border-bottom: 1px solid var(--border-color);
	}

	.blue-button-text.alias-link {
		font-weight: bold !important;
	}

	.alias-link-separator {
		background: var(--card-bg) !important;
	}

	.alias-editor * {
		color: var(--primary-color);
		font-size: 12pt !important;
	}

	#alias-searchbox {
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color);
		border-radius: 2px;
	}

	.screen-mode .section-result:hover, 
	.screen-mode .section-result:focus {

	/*** MAP SIDEBAR RESULTS ***/
		background-color: transparent;
	}

	.section-result-title {

		/*** MAP SIDEBAR TITLES ***/
		color: var(--primary-color);
		font-size: 15pt;
		margin-bottom: 5px;
	}

	.section-result-rating, 
	.section-result-num-ratings {

		/*** MAP SIDEBAR RATINGS ***/
		font-size: 12pt !important;
	}

	.section-result-details-container * {

	/*** MAP SIDEBAR ADRESSES ***/
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
		line-height: 17pt !important;
	}

	.section-result-opening-hours {

		/*** MAP SIDEBAR HOURS ***/
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
		margin-top: 10px;
	}

	.section-popular-times-button.noprint {
		display: none;
	}

	.section-result-annotation-content {

		/*** MAP SIDEBAR ANNOTATION ***/
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}

	.section-hero-header-title-description *,
	.section-editorial-attributes-summary {

		/*** MAP SIDEBAR ADRESSES DETAILS ***/
		color: var(--primary-color);
		font-size: 14pt !important;
		line-height: 18pt;
	}

	.section-rating-term {
		line-height: 20pt !important;
	}
	
	.section-facts-description-text,
	.section-text-description-text {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
		line-height: 20pt !important;
	}

	.section-layout.section-layout-justify-space-between.section-layout-flex-vertical.section-layout-flex-horizontal * {
		font-size: 12pt;
		line-height: 15pt !important;
	}

	.section-info *,
	.section-local-post-text-container * {
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
	}

	.section-info img[alt="Directions"] {
		filter: brightness(0) var(--invert);
		background-color: transparent !important;
	}

	div[class*="_below-button-text"] {
		font-size: 12pt !important;
	}

	.section-local-post-expanded-header {

		/*** MAP SIDEBAR ADRESSES LOCAL POSTS ***/
		height: 52px !important;
	}

	.section-local-post-expanded-image,
	.section-local-post-expanded-video {
		margin-top: 30px !important;
	}

	.section-subheader,
	.section-subheader *,
	.section-line-group-summary-header-description,
	.gm2-headline-6 {

		/*** MAP SIDEBAR ADRESSES DETAILS SECTION HEADER ***/
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	.gm2-hairline-border.section-action-chip-button *,
	.gm2-hairline-border.section-input-chip-button *,
	.section-layout.noprint.section-layout-justify-center.section-layout-vertically-center-content.section-layout-flex-horizontal * {

		/*** MAP SIDEBAR ADRESSES DETAILS BUTTONS ***/
		color: var(--primary-color) !important;
		font-size: 12pt !important;
		line-height: 20pt;
	}

	button[class*="__icon-container"] {
		background: transparent !important;
	}

	.section-info-action-icon-button:last-of-type {
		background-image: none !important;
	}

	.section-expand-review.blue-link {
		color: var(--blue);
		font-size: 14pt !important;
		margin-top: 10px !important;
	}

	#action-menu * {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}

	.action-menu-entry:focus, 
	.action-menu-entry:hover {
		background: transparent;
		opacity: .6;
	}

	.section-transit-station-footer-agency-attribution-link.section-transit-station-footer-link {

		/*** MAP SIDEBAR ADRESSES DETAILS SUBWAY SERVICES ***/
		line-height: 20pt !important;
	}
	
	.section-local-post-text-container * {

		/*** MAP SIDEBAR ADRESSES DETAILS FROM THE OWNER ***/
		line-height: 15pt !important;
	}

	.section-popular-times-value {

		/*** MAP SIDEBAR ADRESSES DETAILS POPULAR TIMES ***/
		background: var(--blue) !important;
	}

	.section-popular-times-label {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}

	.gallery-image-highlight {

		/*** MAP SIDEBAR ADRESSES DETAILS PHOTOS ***/
		background: initial !important;
	}

	span[id*="card-label-"] {
		background: none !important;
		color: #FFF !important;
		font-size: 14pt !important;
	}

	.section-carouselphoto-photo-container-photo span {
		background: transparent !important;
		font-size: 12pt !important;
		line-height: 17pt !important;
		overflow: visible;
	}

	div[class*="__tabs-container"] {
		padding: 5px 0px;
	}

	div[class*="__tabs-container"] * {
		font-size: 12pt !important;
	}

	.widget-titlecard.widget-titlecard-show-settings-menu {
		background: var(--card-bg);
		padding-bottom: 10px;
	}

	.widget-titlecard.widget-titlecard-show-settings-menu * {
		border-color: var(--primary-color) !important;
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		overflow: visible;
	}

	.widget-titlecard-type-divider {
		background: var(--border-color) !important;
	}
	
	.goog-menu.goog-menu-vertical {
		background: var(--card-bg-2);
	}

	.goog-menu.goog-menu-vertical * {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}

	.goog-menuitem.goog-menuitem-highlight,
	.goog-menu.goog-menu-vertical .goog-menuitem:hover {
		background: transparent !important;
		opacity: .6;
	}

	.scene-footer {
		display: none;
	}

	.tabs-scroll-container button:active,
	.tabs-scroll-container button:hover,
	.tabs-scroll-container button:focus,
	.action-menu-widget-gm2 .action-menu-entry:focus,
	.action-menu-widget-gm2 .action-menu-entry:hover {
		background-color: transparent !important;
		opacity: .6 !important;
	} 

	.gm2-display-2 {

	/*** MAP SIDEBAR ADRESSES DETAILS REVIEW SUMMARY ***/
		color: var(--orange);
	}

	div[class*="_bucket-background"] {
		background: var(--card-bg-2) !important;
	}

	div[class*="_bucket-fill"] {
		background: var(--orange) !important;
	}

	.section-review-title {

		/*** MAP SIDEBAR ADRESSES DETAILS REVIEWS ***/
		color: var(--primary-color);
		font-size: 14pt !important;
		line-height: 20pt;
	}

	.section-review-subtitle,
	.section-review-publish-date,
	.section-review-interaction-bar * {
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
	}

	.section-review-review-content * {
		color: var(--primary-color);
		font-size: 12pt !important;
	}

	.section-review-visit-date {
		color: var(--secondary-color);
		font-size: 12pt !important;
		margin-top: 10px;
	}  

	.section-subheader-explanation-bubble-icon-gray,
	.section-review-legal-disclosure-button {
		display: none;
	}

	.section-review-owner-response * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	.section-carousel-scroll-container button[class*="__card"] {

	/*** MAP SIDEBAR ADRESSES DETAILS PEOPLE ALSO SEARCH FOR ***/
		border-radius: 4px !important;
	}

	.section-carousel-scroll-container div[class*="__text-content"] {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.section-carousel-scroll-container div[class*="__text-content"] div[class*="title"] {
		color: var(--primary-color);
	}

	.widget-directions-omnibox.white-foreground,
	.widget-directions-searchbox-container .searchbox,
	.widget-directions .searchbox-searchbutton {

	/*** MAP SIDEBAR DIRECTION ***/
		background-color: var(--blue) !important;
	}

	.widget-directions-waypoint-status {
		background: transparent !important;
        	padding: 3px 10px 5px 10px;
	}

	.searchbox.add-waypoint-text {
		font-size: 12pt !important;
	}

	.widget-directions .sbib_b::after {
		background: transparent;
	}

	.goog-inline-block.goog-menu-button-dropdown {
		border: none !important; 
	}

	.section-directions-options.white-foreground.noprint * {
		font-size: 14pt !important;
	}

	.section-directions-options-link {
		margin-top: -4px !important;
	}

	.section-directions-action.noprint *,
	button[class*="_section-directions-button-label"] {
		color: var(--blue) !important;
		font-size: 14pt !important;
	}

	div[id*="section-directions-trip"] *,
	.section-elevation-profile-dropdown * {
		color: var(--primary-color);
		font-size: 12pt;
		line-height: 15pt;
	}

	.section-directions-trip.selected::before {
		border-color: var(--blue) !important;
	}

	.section-directions-trip-renderable-summary .renderable-component-text-box-white, 
	.section-directions-trip-renderable-summary .renderable-component-first.renderable-component-text-box-white::before, 
	.section-directions-trip-renderable-summary .renderable-component-last.renderable-component-text-box-white::after,
	div[class*="maps-sprite-homescreen"] {
		background-color: transparent !important;
		border: none;
	}

	.section-categorical-shortcut-button-text {
		color: var(--primary-color);
		font-size: 12pt !important;
	}

	.section-trip-header-waypoints * {
		font-size: 14pt !important;
		line-height: 18pt !important;
	}

	.section-trip-summary-header h1 * {
		color: var(--blue) !important;
	}

	.section-trip-summary-description *,
	.section-layout.section-scrollbox * {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
		line-height: 15pt !important;
	}

	.renderable-component-text-box {
		background: transparent !important; 
	}

	.transit-stop-name {
		background: transparent !important;
	}

	.section-layout.section-scrollbox .directions-group-disclose.noprint {
		position: relative !important;
		top: -4px !important
	}

	.directions-mode-body * {
		color: var(--primary-color);
		font-size: 12pt !important;
	}

	.directions-mode-disclaimer {
		display: none;
	}

	#trips-container,
	.calendar-background {
		background: var(--card-bg);
	}

	.time-hider,
	.trips-container {
		border-color: var(--border-color) !important;
	}

	.section-list-item-text {

	/*** MAP SIDEBAR TRAFFIC ***/
		height: auto !important;
	}

	.section-list-item-text * {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}
	
	.section-list-item-title * {
		font-size: 14pt !important;
		font-weight: bold;
	}

	.section-list-item.section-list-item-inset::before,
	.section-list-item.section-list-item-inset::after {
		background: var(--border-color);
	}

	.gm2-caption {

	/*** MAP SIDEBAR FOOTER ***/
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	label[for="section-query-on-pan-checkbox-id"] {
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
		position: relative;
		top: -4px !important;
	}

	.section-profile-header-user-info {

	/*** MAP SIDEBAR USER ***/
		margin-top: 20px !important;
	}

	.section-profile-header-name.section-profile-header-clickable-item {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	.section-profile-header-subtext.section-profile-header-clickable-item {
		color: var(--secondary-color) !important;
		font-size: 12pt !important;
	}

	.section-profile-header-subtext-with-arrow::after {
		top: 3px !important;
		position: relative !important;
	}

	.section-profile-stats-points {
		color: var(--primary-color);
		font-size: 12pt !important;
		font-weight: bold !important;
	}

	.section-profile-stats-progressbar-bar {
		background: var(--card-bg-2) !important;
	}

	.section-profile-stats-progressbar-progress {
		background: var(--blue) !important;
	}

	.section-profile-stats-progressbar-numbers * {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
	}

	.section-tab-bar {
		background: var(--card-bg-2) !important;
	}

	.section-tab-bar * {
		color: var(--primary-color) !important;
		font-size: 12pt !important;
		font-weight: bold !important;
	}

	.section-tab-bar-tab-unselected:hover {
		box-shadow: none;
	}

	.section-tab-info {
		padding-top: 12px !important;
	}

	.maps-sprite-reviews-expand-more.section-tab-info-menu-icon {
		margin-top: 5px !important;
	}

	.section-photo-bucket-titles {
		height: 52px !important;
	}

	.widget-settings-open .widget-settings-content {

		/*** MAP SETTINGS ***/
		border-radius: 0px !important;
	}

	.widget-settings-list {
		border-color: var(--border-color) !important;
	}

	.language-listings-container {
		background: var(--card-bg);
	}

	.language-listings-container,
	.language-listings-container * {
		border-color: var(--border-color);
	}

	.section-header-subtitle-icon {

		/*** MAP SIDEBAR LIST ***/
		margin-top: 10px !important;
	}
	
	.section-list-item-subtitle {
		margin-top: 5px;
	}

	.section-list-item-subtitle-icon {
		margin-top: 8px !important;
	}

	.section-header-subtitle-line * {
		font-size: 12pt !important;
		margin-top: 5px !important;
	}

	.cards-rating-stars {
		margin-top: -10px !important;
	}

	.section-button.noprint.blue-button, 
	.section-button.noprint.blue-button:hover {
		box-shadow: none !important;
		font-weight: bold !important;
	}

	/* SHOPPING */

	/** DESCRIPTION : change the elements of the shopping page **/
	.SOTxMc {

		/*** SHOPPING NAVIGATION BAR ***/
		border-color: var(--border-color);
		padding-bottom: 22px !important;
	}

	.SOTxMc * {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
	}

	.foGkcf {
		background: var(--border-color) !important;
	}

	#ssave {

		/*** SHOPPING LIKES ***/
		border-bottom: 1px solid var(--border-color) !important;
	}

	#ssave * {
		color: var(--primary-color) !important;
	}

	.sh-dsd__list-name {
		font-size: 14pt;
	}

	#ssave .sh-dsd__items {
		padding-bottom: 0px !important;
	}

	.sh-dr__restricts * {

		/*** SHOPPING SIDEBAR ***/
		border-color: var(--border-color);
		color: var(--primary-color);
		font-size: 14pt !important;
		overflow: visible !important;
	}

	.sh-dr__restricts input {

		/*** SHOPPING SIDEBAR INPUT ***/
		background: var(--card-bg);
	}

	.sh-dr__prs {

		/*** SHOPPING SIDEBAR GO BUTTON ***/
		background: var(--card-bg) !important;
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding: 5px !important;
	}

	.sh-dtt__top-tools * {

		/*** SHOPPING CONTENT HEADER ***/
		border-color: var(--border-color) !important;
		color: var(--primary-color);
	}

	.R7ZAs,
	#topstuff .sh-sp__pswtr {
		display: none;
	}

	.sh-sr__shop-result-group,
	.sh-sr__shop-result-group:last-of-type,
	#topstuff * {

	/*** SHOPPING CONTENT RESULTS ***/
		border-color: var(--border-color);
	}

	.sh-sr__shop-result-group g-scrolling-carousel {
		display: none;
	}

	.sh-dgr__gr-auto.sh-dgr__grid-result-gm2.sh-dgr__grid-result,
	.sh-dgr__gr-auto.sh-dgr__grid-result,
	.sh-pr__product-results-grid .pspo-popout ._-oi {

		/*** SHOPPING CONTENT RESULTS THUMBNAILS CARDS ***/
		background: var(--card-bg);
		border: 1px solid var(--border-color) !important;
		border-radius: 2px !important;
		box-shadow: none !important;
	}
    
	.sh-dgr__gr-auto.sh-dgr__grid-result div {
		background: var(--card-bg);
		border-color: var(--border-color) !important;
		border-radius: 0px !important;
	}

	.sh-dgr__gr-auto.sh-dgr__grid-result-gm2.sh-dgr__grid-result div {
		box-shadow: none !important;
	}

	.sh-dgr__gr-auto.sh-dgr__grid-result-gm2.sh-dgr__grid-result div {
		background: transparent;
	}

	.sh-dgr__gr-auto.sh-dgr__grid-result-gm2.sh-dgr__grid-result *,
	.sh-dgr__gr-auto.sh-dgr__grid-result * {
	border-color: var(--border-color) !important;
		color: var(--primary-color);
		font-size: 12pt;
	}


	.sh-dp__arrow::before {

		/*** SHOPPING CONTENT RESULTS THUMBNAILS CARDS DETAILS ***/
		border-bottom-color: var(--card-bg);
	}

	.sh-dp__arrow {
		border-bottom-color: var(--border-color);
	}

	.sh-pr__product-results-grid .pspo-popout ._-oi * {
		border-color: var(--border-color) !important;
		color: var(--primary-color);
		font-size: 14pt;
	}

	.sh-pr__product-results-grid .pspo-popout ._-oi ._-of {
		background: var(--blue);
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		padding-bottom: 12px;
	}

	.sh-pr__product-results-grid .pspo-popout ._-oi ._-of * {
		color: #FFF !important;
	}

	._-or._-op {
		border: none !important;
	}

	.sh-ma-menu__dropdown, 
	.sh-ma-menu__menu:focus-within ._-oo {
		background: transparent !important;
	}

	.sh-ma-menu__items,
	.sh-ma-menu__items a:hover {
		background: var(--card-bg) !important;
	}

	.sh-dlr__list-result {

		/*** SHOPPING CONTENT RESULTS LIST CARDS ***/
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px;
		box-shadow: none !important;
	}

	.sh-dlr__content * {
		border-color: var(--border-color) !important;
		color: var(--primary-color);
		font-size: 14pt;
		line-height: 15pt !important;
	}

	.sh-dlr__content a,
	.sh-dlr__content h3 {
		color: var(--blue) !important;
	}

	.sh-dlr__content h3 {
		font-size: 14pt !important;
		line-height: 18pt !important;
	}

	.NA0ooc.Ef3Amd.cDiYVe {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: 1px 1px 1px #000 !important;
		color: #FFF !important;
	}

	.sh-sr__shop-result-group {
		background: transparent !important;
		font-size: 14pt !important;
	}

	.sh-dp__cont ._-oi {

	/*** SHOPPING CONTENT RESULTS LIST CARDS DETAILS ***/
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px;
		box-shadow: none !important;
		font-size: 14pt !important;
	}

	.sh-dp__cont ._-oi * {
		border-color: var(--border-color) !important;
		color: var(--primary-color);
		font-size: 14pt !important;
	}

	.sh-dp__cont ._-oi a,
	.sh-dp__cont ._-oi h3 {
		color: var(--blue) !important;
	}

	.sh-dp__cont ._-of._-n-._-oe {
		background: var(--blue);
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		padding-bottom: 12px;
	}

	.sh-dp__cont ._-of._-n-._-oe * {
		color: #FFF !important;
	}

	.sh-dsc__save-confirmation {

		/*** SHOPPING POPUP ***/
		background: var(--card-bg) !important;
		border: 1px solid var(--border-color) !important;
		border-radius: 2px !important;
	}

	._-ki,
	._-j0.sh-dsc__list-select-btn {
		background: var(--blue) !important;
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
	}

	._-j0.sh-dsc__list-select-btn * {
		color: #FFF !important;
		font-size: 14pt;
		letter-spacing: 0px;
	}

	.sh-dsd__drawer-item {
		background: var(--card-bg);
		border: 1px solid var(--border-color);
		border-radius: 4px;
		box-shadow: none;
	}

	.sh-dsd__drawer-item * {
		color: var(--primary-color) !important;
	}

	._-kk {
		border-color: var(--border-color);
		color: var(--primary-color) !important;
	}

	.sh-dsc__move-to-content * {
		color: var(--primary-color) !important;
		font-size: 12pt;
	}

	.f.shpd /*** SHOPPING FOOTER ***/ {
		color: transparent;
	}

	/* BOOKS */

	/** DESCRIPTION : change the elements of the books page **/
	.rc .r a[href*="https://books.google.fr/"] {

		/*** BOOKS RESULTS TITLE ***/
		line-height: 22pt !important;
	}

	.rc .s {

	/*** BOOKS RESULTS TEXT ***/
		margin-top: 5px !important;
	}

	}

	@-moz-document regexp("https:(www\.)?\/\/([\w]+[.])*(\b(?!(keep|maps|voice)\b)\w+\.)google\.(com|([a-z]{2}))(\.[a-z]{2})?\/(?!(tools\/feedback)).*") {

	/*[[theme]]*/

	/* APP POPUP */

	/** DESCRIPTION : change the elements of the app popup **/

	.EHzcec {
		background-color: var(--card-bg) !important;
		border-radius: 2px !important;
		box-shadow: none;
	}

	.EHzcec * {
		border-color: var(--border-color);
		color: var(--primary-color);
		font-family: "Roboto Condensed" !important;
		font-size: 12pt !important;
	}

	.EHzcec a:hover,
	.EHzcec a:hover span {
		background-color: transparent !important;
		opacity: .6;
	}

	.EHzcec a[href="https://www.google.fr/intl/en/about/products?tab=wh"] {
		display: none;
	}
}


