@-moz-document domain("google.com"),
domain("google.fr"),
domain("google.en") {

	/* COLORS */

	/** DESCRIPTION : set the colors **/
	:root {
        	--body-bg: #F0F1F5 !important;
		--card-bg: #FFF !important;
		--card-bg-2: #EBEBEB !important;
		--border-color: #BEBEBE !important;
		--primary-color: #545454 !important;
		--secondary-color: #7E7E7E !important;
		--invert: invert(0) !important;
	}

	/* GENERAL */

	/** DESCRIPTION : change the elements of all page **/
	* {
		font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	input::-moz-placeholder {
		color: var(--primary-color);
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	body {
		background-color: var(--body-bg) !important;
	}

	.mw #rcnt .col #center_col #res #search *:not(.g) {
		border: none;
	}

	.AEprdc.vk_c

	/*** MAP CARD ***/
	,
	table a[href*="temp"],
	div > a[href*="support.google.com"] /*** SUPPORT LINK ***/,
	#abar_button_opt /*** SETTINGS LINK ***/,
	#ab_ctls /*** SAVE SEARCH LINK ***/,
	a[class*="duf"],
	div[id*="eobm"] /*** SUGGEST SEARCH ***/,
	#fbarcnt /*** FOOTER ***/,
	#foot .nwd,
	.gl /*** REPORT IMAGE ***/,
	g-more-link /*** MORE LINK ***/,
	.hdtb-dd-b /*** NAV MORE LINK ***/,
	#hdtb-tls /*** TOOLS LINK ***/,
	.irc_ft /*** SEND HELP ***/,
	.kno-ftr /*** FEEDBACK ***/,
	kno-share-button /*** SHARE BUTTON ***/,
	.knowledge-panel g-scrolling-carousel /*** SCROLL CARD SIDEBAR ***/,
	.knowledge-panel .thumb span /*** MORE IMAGE BUTTON ***/,
	#media_result_group .fl /*** MORE IMAGE BUTTON ***/,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .card-sction /*** OTHERS LINKS ***/,
	.N6pxec /*** NEWS ALERT FOOTER ***/,
	.pddsle.ellip,
	.q.qs[href*="shop"] /*** SHOP LINK ***/,
	#rhs .commercial-unit-desktop-rhs /*** COMMERCIAL ADS ***/,
	#search #ires #rso .g .ts > .card-section /*** OTHERS NEWS LINKS ***/,
	#search #ires #rso .g.mnr-c.g-blk /*** SPORT CARDS ***/,
	#tvcap /*** ADS ***/,
	#tw-gtlink /*** OPEN IN GOOGLE TRADUCTION LINK ***/,
	.vk_ard /*** SIDEBAR MORE ICON ***/,
	.vk_aru/*** SIDEBAR LESS ICON ***/ {
		display: none !important;
	}

	/* HEADER */

	/** DESCRIPTION : change the elements of the header **/
	.sfbgg {

		/*** HEADER BACKGROUND ***/
		background: no-repeat url("https://i.pinimg.com/originals/1b/1e/37/1b1e37653a271d552088c8582b42b1f8.jpg") center !important;
		background-size: cover !important;
		height: 84px !important;
	}

	.sfbgx {
		background: transparent !important;
	}

	.sfbgg::before {

		/*** HEADER BORDER TOP ***/
		background-image: linear-gradient(to right, #73D2F6, #3369E8 22%, #EF5350 36%, #D50F25 48%, #FFE082 63%, #EEB211 76%, #009925) !important;
		color: transparent !important;
		content: "dd" !important;
		height: 3px !important;
		width: 100% !important;
		position: absolute;
		top: 0px !important;
	}

	#logocont {

		/*** HEADER LOGO ***/
		background: no-repeat url("https://i.imgur.com/IqDKVDh.png") 55% 51% !important;
		background-color: var(--card-bg) !important;
		background-size: 25px auto !important;
		border-right: 1px dotted var(--border-color) !important;
		border-top-left-radius: 2px !important;
		border-bottom-left-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		padding: 44px 0px 0px 44px !important;
		margin-top: 3px !important;
		margin-left: 20px !important;
	}

	#logocont img {
		display: none !important;
	}

	#gsr #searchform #tsf .tsf-p {

		/*** HEADER SEARCH BAR ***/
		padding-left: 64px !important;
	}

	.sbib_a {
		background: var(--card-bg) !important;
	}

	.sbibod {
		background: var(--card-bg) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	}

	#lst-ib {
		background: var(--card-bg) !important;
		color: var(--primary-color);
		font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
		font-size: 15pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
	}

	.sbdd_b {

		/*** HEADER SEARCH BAR RESULTS BOX ***/
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.sbdd_b .sbsb_a {
		background: var(--card-bg);
		border: none !important;
		border-radius: 2px !important;
		box-shadow: none !important;
		padding: 20px 10px 25px 10px !important;
		margin-top: 10px !important;
	}

	.sbdd_b .sbsb_a * {
		color: var(--primary-color);
		font-size: 14pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
		line-height: 20pt !important;
	}

	.sbsb_d,
	.sbsb_c.gsfs.sbsb_d:hover {
		background: transparent !important;
		opacity: .8 !important;
	}

	#sbsb_f,
	#sbfblt {
		display: none !important;
	}

	#qbi {

		/*** HEADER SEARCH BAR PICTURE SEARCH BUTTON ***/
		background: no-repeat url("http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/device-camera-icon.png") center !important;
		background-size: 21px auto !important;
		margin-top: -2px !important;
		margin-right: -8px !important;
		opacity: 1 !important;
	}

	#qbp {

		/*** HEADER SEARCH BAR PICTURE SEARCH CONTAINER ***/
		background: var(--card-bg);
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		height: 187px !important;
		position: fixed !important;
		top: 0px !important;
		right: 0px !important;
		bottom: 0px !important;
		left: 0px !important;
		margin: auto !important;
	}

	.qbtt {

		/*** HEADER SEARCH BAR PICTURE SEARCH CONTAINER HEADER ***/
		color: var(--primary-color);
		font-size: 16pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
	}

	#qbdt {

		/*** HEADER SEARCH BAR PICTURE SEARCH CONTAINER TEXT ***/
		color: var(--primary-color);
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.qbtbha.sl {

		/*** HEADER SEARCH BAR PICTURE SEARCH CONTAINER TABS ***/
		background: transparent !important;
		border: none !important;
		color: var(--primary-color) !important;
	}

	.qbtbha.sl * {
		color: var(--primary-color) !important;
	}

	#qbuti,
	#qbfti {
		display: none !important;
	}

	#qbx {

		/*** HEADER SEARCH BAR PICTURE SEARCH CONTAINER CLOSE BUTTON ***/
		background: no-repeat url('https://imgur.com/4GlrMN7.png') center !important;
		background-size: cover !important;
		height: 25px !important;
		width: 25px !important;
		filter: brightness(0) var(--invert) !important;
	}

	.qbtbp {

		/*** HEADER SEARCH BAR PICTURE SEARCH CONTAINER FOOTER ***/
		background: var(--card-bg-2) !important;
		border-top: none !important;
	}

	.qbwr .qbtbha,
	.qbwr .qbtbha * {
		font-family: "Roboto" !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
	}

	#qbui {
		background: var(--card-bg);
		border: none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		border-radius: 2px !important;
		color: var(--primary-color);
		font-size: 14pt !important;
		font-family: "Roboto" !important;
		font-stretch: condensed !important;
		padding-left: 9px !important;
	}

	#qbbtc .gbqfb {
		font-family: "Roboto" !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
		width: 150px !important;
	}

	#qbfile {
		font-family: "Roboto" !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

	#top_nav {

		/*** HEADER NAVIGATION BAR ***/
		background: transparent !important;
	}

	#hdtb {
		background: transparent !important;
		border-bottom: 1px dotted var(--border-color) !important;
	}

	#hdtb-msb {
		margin-left: -90px !important;
	}

	#hdtbSum {
		background: var(--card-bg) !important;
		border-top: none !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
		padding-bottom: 10px !important;
		margin-top: 15px !important;
	}

	.hdtb-mitem.hdtb-msel.hdtb-imb {
		border: none !important;
		font-weight: normal !important;
	}

	#hdtb #hdtbMenus {
		font-size: 14pt !important;
		font-stretch: condensed !important;
		margin-top: -8px !important;
		padding-bottom: 20px !important;
	}

	#hdtb .mn-dwn-arw {
		background: no-repeat  url('https://i.imgur.com/OygFMxF.png') center !important;
		background-size: cover !important;
		border: none !important;
		padding: 13px 0px 0px 13px !important;
		margin-top: -5px !important;
		margin-left: 2px !important;
	}

	.gb_b.gb_hc {

		/*** HEADER APP ICON ***/
		background: no-repeat url("https://i.imgur.com/fz6600P.png") center !important;
		background-size: 15px auto !important;
		filter: invert(1) !important;
	}

	.gb_Rc.gb_Sc.gb_hc {

		/*** HEADER NOTIFICATION ICON ***/
		background: no-repeat url("https://i.imgur.com/aqaUYbG.png") center !important;
		background-size: 22px auto !important;
	}

	/* SEARCH OTHERS HEADER */

	/** DESCRIPTION : change the lements of the search others header **/
	.kappbar,
	.rl_center,
	.rl_feature,
	.rlc__slider-page {
		background: transparent !important;
		border: none !important;
		box-shadow: none !important;
		margin-top: 0px !important;
	}

	.kappbar g-scrolling-carousel {
		box-shadow: none !important;
	}

	.klbar {
		border: none !important;
		box-shadow: none !important;
		padding-bottom: 15px !important;
	}

	.mlo-c {
		box-shadow: none !important;
	}

	.abup * {
		color: var(--primary-color);
		font-size: 15pt !important;
		font-stretch: condensed;
	}

	.klitem,
	.rl_item.rl_item_base {
		background: var(--card-bg-2) !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .rl_item {
		background: transparent !important;
	}

	.kltat,
	.appbar .rl_item_base .title {
		color: var(--primary-color);
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.klmeta,
	.appbar .rl_item_base span {
		color: var(--secondary-color);
		font-size: 12pt !important;
		font-stretch: condensed;
		margin-top: 3px !important;
	}

	.klitem.selected {
		border-bottom: 4px solid #FBBC05;
	}

	/* SEARCH MAIN RESULTS */

	/** DESCRIPTION : change the elements of the search main results page **/
	#main #cnt #appbar #extabar {

		/*** SEARCH MAIN RESULTS TOP BAR RESULTS CONTAINER ***/
		background: var(--card-bg);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		padding: 2px 0px 5px 0px !important;
	}

	#main #cnt #appbar #extabar #topabar #slim_appbar {

		/*** SEARCH MAIN RESULTS TOP BAR RESULTS COUNTER ***/
		font-size: 14pt !important;
		font-stretch: condensed !important;
		margin-left: 62px !important;
	}

	#main #cnt #appbar #extabar #topabar #slim_appbar * {
		color: var(--primary-color) !important;
		transition: none !important;
	}

	#main #cnt #appbar #extabar #topabar #slim_appbar #resultStats::before {
		background: no-repeat url("https://i.imgur.com/i7wuH7j.png") center !important;
		background-size: cover !important;
		content: "dd" !important;
		color: transparent;
		margin-right: 10px !important;
	}

	.mw #rcnt .col #center_col {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ***/
		background: var(--card-bg) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		padding: 15px 15px 10px 10px !important;
		margin-top: 30px;
		margin-left: 80px;
	}

	#fprs {

		/*** SEARCH MAIN RESULTS LEFT COLUMN AUTOCORRECT ***/
		font-stretch: condensed !important;
		display: block !important;
	}

	#fprs a,
	.ssp a {
		color: #436EBC !important;
	}

	.spell,
	.ssp * {
		color: var(--primary-color);
		font-size: 17pt !important;
		font-stretch: condensed;
	}

	.spell_orig {
		color: var(--primary-color);
		font-size: 16pt !important;
		text-transform: lowercase !important;
	}

	.mw #rcnt .col #center_col #res #search .g {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CARD RESULT ***/
		border-bottom: 1px dotted var(--border-color);
		padding-bottom: 25px !important;
		margin-bottom: 20px;
	}

	.mw #rcnt .col #center_col #res #search #imagebox_bigimages {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CARD RESULT IMAGE CONTAINER ***/
		padding-bottom: 0px !important;
		margin-top: 0px !important;
	}

	.mw #rcnt .col #center_col #res #search #imagebox_bigimages g-section-with-header {
		display: block !important;
	}

	.mw #rcnt .col #center_col #res #search #imagebox_bigimages h3 a {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CARD RESULT IMAGE CONTAINER TITLE ***/
		color: #436EBC !important;
		font-size: 16pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col #res #search #imagebox_bigimages img {
		border-radius: 2px !important;
	}

	.mw #rcnt .col #center_col .rc h3,
	.mw #rcnt .col #center_col #res #search #ires #rso .g h3,
	.mw #rcnt .col #center_col #res #search #ires #rso .g h3 * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TITLE ***/
		font-size: 16pt !important;
		font-stretch: condensed;
		font-weight: normal !important;
		margin-bottom: 10px !important;
	}

	.mw #rcnt .col #center_col .rc h3 a,
	.mw #rcnt .col #center_col #res #search #ires #rso .g h3 a {
		color: #436EBC !important;
	}

	.mw #rcnt .col #center_col .rc .s .f,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp {

		/*** SEARCH MAIN RESULTS LEFT COLUMN LINK CONTAINER ***/
		margin-bottom: 10px !important;
	}

	.mw #rcnt .col #center_col .rc .s .f cite,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(1) {

		/*** SEARCH MAIN RESULTS LEFT COLUMN LINK ***/
		color: #1E8945 !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

	.mw #rcnt .col #center_col .rc .s .f {
		height: 25px !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}

	.mw #rcnt .col #center_col .rc .s .f cite::before,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(1):before {
		background: no-repeat url("https://i.imgur.com/pbTyp8q.png") center 55% !important;
		background-size: 15px auto !important;
		color: transparent !important;
		content: "dd" !important;
		margin-right: 8px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(2),
	.mw #rcnt .col #center_col #res #search #ires #rso .g .slp > span:nth-of-type(3) {
		color: var(--secondary-color) !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

	.mw #rcnt .col #center_col .rc .s .f .action-menu > a {

		/*** SEARCH MAIN RESULTS LEFT COLUMN LINK ACTION MENU ***/
		display: none;
	}

	.mw #rcnt .col #center_col .f[style="white-space:nowrap"] > a.fl {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TRANSLATE PAGE LINK ***/
		display: none !important;
	}

	.mw #rcnt .col #center_col .rc .s *,
	.mw #rcnt .col #center_col #res #search #ires #rso .g .st {

		/*** SEARCH MAIN RESULTS LEFT COLUMN DESCRIPTION ***/
		color: var(--primary-color);
		font-size: 14pt !important;
		font-stretch: condensed !important;
		line-height: 20pt !important;
	}

	.mw #rcnt .col #center_col .rc .s a {
		color: #436EBC !important;
	}

	.mw #rcnt .col #center_col .top {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ARTICLE ***/
		margin-right: 20px !important;
	}

	.mw #rcnt .col #center_col .top .th {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ARTICLE THUMB ***/
		border-radius: 50% !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	}

	.mw #rcnt .col #center_col .rc .s .th * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN VIDEO ***/
		color: #FFF !important;
	}

	.mw #rcnt .col #center_col .rc .s div[style*="margin-left:12"] {

		/*** SEARCH MAIN RESULTS LEFT COLUMN VIDEO DESCRIPTION ***/
		margin-left: 130px !important;
	}

	.mw #rcnt .col #center_col .rc .s .osl {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TAGS ***/
		color: transparent !important;
		margin-top: 15px !important;
		margin-bottom: 0px !important;
	}

	.mw #rcnt .col #center_col .rc .s .osl a {
		background: #436EBC;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		line-height: 31pt !important;
		padding: 5px 10px 6px 10px !important;
		white-space: nowrap;
		margin-right: -8px;
	}

	.mw #rcnt .col #center_col table input {

		/*** SEARCH MAIN RESULTS LEFT COLUMN MORE SEARCH ***/
		background: var(--card-bg-2);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: var(--primary-color) !important;
		padding: 5px 10px !important;
	}

	.mw #rcnt .col #center_col table button {
		display: none;
	}

	.mw #rcnt .col #center_col table .st {

		/*** SEARCH MAIN RESULTS LEFT COLUMN MORE CONTENT ***/
		color: var(--secondary-color);
		font-size: 14pt;
		font-stretch: condensed !important;
	}

	.mw #rcnt .col #center_col table h3 a {

		/*** SEARCH MAIN RESULTS LEFT COLUMN MORE LINK ***/
		color: #436EBC !important;
		font-size: 16pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col #bres {

		/*** SEARCH MAIN RESULTS LEFT COLUMN MORE CONTENT 2 ***/
		display: none !important;
	}

	.mw #rcnt .col #center_col #search #ires #rso .mod .g .obcontainer.card-section {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CONVERTER CARDS ***/
		background: var(--card-bg-2) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		margin: 0px -10px 0px -4px !important;
	}

	.mw #rcnt .col #center_col #search #ires #rso .mod .g .obcontainer.card-section select {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CONVERTER CARDS SELECT ***/
		background: var(--body-bg) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: var(--primary-color);
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.g.knavi.obcontainer #tw-container {

		/*** SEARCH MAIN RESULTS LEFT COLUMN GOOGLE TRADUCTION CARD ***/
		background: var(--card-bg-2) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		margin: 0px -10px 0px -4px !important;
	}

	.g.knavi.obcontainer #tw-container * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN GOOGLE TRADUCTION CARD TEXT ***/
		color: var(--primary-color) !important;
		font-stretch: condensed;
		font-weight: normal;
	}

	.g.knavi.obcontainer #tw-container .tw-lang-selector-wrapper {

		/*** SEARCH MAIN RESULTS LEFT COLUMN GOOGLE TRADUCTION CARD LANGUAGE SELECT ***/
		height: 40px !important;
		width: 200px !important;
	}

	.g.knavi.obcontainer #tw-container .tw-lang-selector {
		font-size: 14pt !important;
		height: inherit !important;
		width: inherit !important;
	}

	.g.knavi.obcontainer #tw-container .tw-swapa div {

		/*** SEARCH MAIN RESULTS LEFT COLUMN GOOGLE TRADUCTION CARD SEPARATOR ***/
		background: transparent !important;
		border-right: 1px dotted var(--border-color) !important;
	}

	#cwmcwd {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CALCULATOR CARD ***/
		background: var(--card-bg-2) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		margin: 0px -10px 0px -4px !important;
	}

	#cwmcwd *:not(#cwfleb) {
		background: var(--card-bg-2);
	}

	#cwmcwd  .cwtlotc {
		height: 20px !important;
	}

	#cwmcwd .cwbts {

		/*** SEARCH MAIN RESULTS LEFT COLUMN CALCULATOR CARD BUTTONS ***/
		background: var(--body-bg) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
	}

	#wob_wc {

		/*** SEARCH MAIN RESULTS LEFT COLUMN WEATHER CARD ***/
		background: var(--card-bg-2) !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		margin: 0px -10px 0px -4px !important;
	}

	#wob_wc #wob_temp,
	#wob_wc #wob_rain,
	#wob_wc #wob_wind {

		/*** SEARCH MAIN RESULTS LEFT COLUMN WEATHER CARD BUTTONS ***/
		background: var(--card-bg) !important;
		box-shadow: none !important;
		padding-bottom: 4px !important;
	}

	#wob_wc .wob_df.wob_ds {

		/*** SEARCH MAIN RESULTS LEFT COLUMN WEATHER CARD CURRENT ***/
		background: var(--body-bg) !important;
		border-radius: 2px !important;
		padding-bottom: 10px !important;
	}

	#wob_wc * {
		color: var(--primary-color) !important;
		font-weight: normal !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ASK CARD ***/
		background: var(--card-bg-2) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: var(--primary-color) !important;
		font-stretch: condensed !important;
		margin: 0px -10px 0px -4px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .Iitddd {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ASK CARD HEADER ***/
		border-bottom: 1px dotted var(--border-color) !important;
		padding-bottom: 15px !important;
		margin-bottom: -18px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .related-question-pair {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ASK CARD TOPICS ***/
		background: var(--body-bg) !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .related-question-pair .match-mod-horizontal-padding {
		background: var(--body-bg) !important;
		border-bottom: 1px dotted var(--border-color) !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .related-question-pair:last-child .match-mod-horizontal-padding {
		border: none !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .mod {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ASK CARD TOPICS DETAILS ***/
		background: var(--body-bg) !important;
		border-radius: 1px !important;
		padding-bottom: 20px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .mod * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN ASK CARD TOPICS DETAILS TEXT ***/
		color: var(--primary-color);
		font-size: 14pt !important;
		line-height: 18pt !important;
	}

	.nmcw .match-mod-horizontal-padding,
	.mw #rcnt .col #center_col #res #search #ires #rso .g-blk .kp-blk .g {
		display: none;
	}

	.gws-trips__outer-card {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TRIPS CARD ***/
		background: var(--card-bg-2) !important;
		border: none !important;
		padding: 10px 15px !important;
		margin-bottom: 0px !important;
	}

	.gws-trips__outer-card * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TRIPS CARD TEXT ***/
		color: var(--primary-color);
		font-size: 14pt;
		font-stretch: condensed;
		line-height: 18pt !important;
		overflow: visible !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header .ellip {
		font-size: 14pt !important;
		font-stretch: condensed;
		height: 30px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g .s .st g-inner-card {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TWITTER CARD ***/
		background: var(--card-bg-2) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		padding: 10px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g .s .ellip {
		font-size: 14pt !important;
		font-stretch: condensed;
		height: 30px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g .s .st g-inner-card div {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TWITTER TEXT ***/
		line-height: 20pt !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso .g .s .st g-inner-card a {
		color: #436EBC !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header h3 {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TOP STORIES CARDS ***/
		color: var(--primary-color) !important;
		font-size: 16pt !important;
		font-stretch: condensed !important;
		margin-top: 0px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-scrolling-carousel {
		box-shadow: none !important;
		margin-bottom: 0px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-scrolling-carousel g-inner-card {
		background: var(--card-bg-2) !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-scrolling-carousel g-inner-card div * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TOP STORIES CARDS TITLE ***/
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		font-stretch: condensed;
		line-height: 18pt;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-scrolling-carousel g-inner-card cite {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TOP STORIES CARDS SOURCE ***/
		color: #1E8945 !important;
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-scrolling-carousel g-inner-card .f span {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TOP STORIES CARDS TIME ***/
		color: var(--secondary-color) !important;
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-inner-card {

		/*** SEARCH MAIN RESULTS LEFT COLUMN TOP STORIES OTHERS CARDS ***/
		background: var(--card-bg-2) !important;
		border: none !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		margin-right: 5px !important;
		margin-left: 10px !important;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-inner-card a span {
		color: #436EBC !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-inner-card cite {
		color: #1E8945 !important;
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col #res #search #ires #rso g-section-with-header g-inner-card span {
		color: var(--secondary-color);
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #center_col .mfr * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN DMCA TEXT ***/
		font-style: normal !important;
	}

	.mw #rcnt .col #center_col .mfr a {
		color: #436EBC !important;
	}

	.mw #rcnt .col #center_col #extrares #brs {

		/*** SEARCH MAIN RESULTS LEFT COLUMN RELATED SEARCH CONTAINER ***/
		margin-top: -20px !important;
	}

	.mw #rcnt .col #center_col #extrares #brs h3 {
		color: var(--primary-color) !important;
		font-family: "Roboto" !important;
		font-size: 16pt !important;
		font-stretch: condensed !important;
	}

	.mw #rcnt .col #center_col #extrares #brs a {
		color: #436EBC !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
		line-height: 18pt !important;
	}

	.mw #rcnt .col #center_col #foot span,
	.mw #rcnt .col #center_col #foot a {

		/*** SEARCH MAIN RESULTS LEFT COLUMN PAGINATION ***/
		font-size: 14pt !important;
		font-stretch: condensed;
		margin-right: 2px;
	}

	.mw #rcnt .col #center_col #foot .cur {

		/*** SEARCH MAIN RESULTS LEFT COLUMN PAGINATION CURRENT PAGE ***/
		color: var(--primary-color) !important;
	}

	.mw #rcnt .col #center_col #foot #pnprev span[style*="display: block;"] {
		background: #436EBC !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 10px !important;
		position: absolute;
		margin-top: 35px !important;
		left: 70px;
	}

	.mw #rcnt .col #center_col #foot #pnnext span[style*="display: block;"] {
		background: #436EBC !important;
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
		color: #FFF !important;
		padding: 5px 10px !important;
		position: absolute;
		margin-top: -5px !important;
		right: 135px;
	}

	.mw #rcnt .col #center_col #foot * {

		/*** SEARCH MAIN RESULTS LEFT COLUMN PAGINATION LOGO ***/
		background-image: none !important;
	}

	.mw #rcnt .col #center_col .card-section div {

		/*** SEARCH MAIN RESULTS LEFT COLUMN IMAGE SEARCH CONTAINER ***/
		font-size: 14pt !important;
		font-stretch: condensed !important;
		color: var(--primary-color) !important;
	}

	.mw #rcnt .col #rhs {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN ***/
		margin-top: 30px;
		margin-left: 745px;
	}

	.mw #rcnt .col #rhs .knowledge-panel {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN CONTAINER ***/
		background: var(--card-bg) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2) !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel div[role="heading"] div span,
	.mw #rcnt .col #rhs .knowledge-panel div[role="heading"] a {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN HEADER ***/
		color: var(--primary-color) !important;
		font-family: "Roboto" !important;
		font-size: 16pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #rhs .knowledge-panel span,
	.mw #rcnt .col #rhs .knowledge-panel div {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN TEXT ***/
		color: var(--primary-color);
		font-size: 14pt;
		font-stretch: condensed;
		font-weight: normal !important;
		line-height: 20pt !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel a {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN LINKS ***/
		color: #436EBC !important;
		font-size: 14pt;
		font-stretch: condensed;
	}

	.mw #rcnt .col #rhs .knowledge-panel span .fl {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN CATEGORIES ***/
		color: var(--secondary-color) !important;
		font-weight: normal !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .ab_button {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN BUTTONS ***/
		background: var(--card-bg-2) !important;
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		color: var(--primary-color) !important;
		font-size: 14pt;
		font-stretch: condensed;
		font-weight: normal !important;
		padding: 5px 10px !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .ab_button svg {
		filter: brightness(0) var(--invert) !important;
		margin-top: -2px;
	}

	.mw #rcnt .col #rhs .knowledge-panel g-card * {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN CARDS ***/
		background: transparent !important;
		box-shadow: none !important;
		border: none !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .pMFd3d {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN HOURS ***/
		height: 165px !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .fl.ellip,
	.mw #rcnt .col #rhs .knowledge-panel g-link a {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN OTHERS LINKS ***/
		color: #436EBC !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

	.mw #rcnt .col #rhs .knowledge-panel .ellip {
		color: var(--secondary-color) !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

	.mw #rcnt .col #rhs .kp-blk {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN OTHERS BOXES ***/
		background: var(--card-bg) !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
		margin-bottom: -15px !important;
	}

	.mw #rcnt .col #rhs .kp-blk div[role="heading"] span {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN OTHERS BOXES HEADER ***/
		color: var(--primary-color) !important;
		font-size: 16pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #rhs .kp-blk span {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN OTHERS BOXES TEXT ***/
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.mw #rcnt .col #rhs .kp-blk .ellip {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN OTHERS BOXES LINKS ***/
		color: #436EBC !important;
		font-size: 14pt !important;
		font-stretch: condensed;
	}

	.rhsvw:hover {
		background: transparent !important;
	}

	.gws-local-riddler__banner-shown,
	.kp-blk .xpdclose .farUxc,
	.kp-blk .xpdopen .mJ2Mod,
	.knowledge-panel .rl_item_base,
	.scrt tr td,
	.sCXuv,
	.vk_arc,
	.xpdclose .a84NUc:not(:empty),
	.xpdopen .CQKTwc:not(:empty),.XQvBOc {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN TOP BORDERS ***/
		border-top: 1px dotted var(--border-color) !important;
	}

	.GEIdOb {
		border-top: 1px solid transparent !important;
	}

	.GEIdOb,
	.gws-local-riddler__banner-shown,
	.scrt td,
	.XQvBOc {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN BOTTOM BORDERS ***/
		border-bottom: 1px dotted var(--border-color) !important;
	}

	.ksSzJd .TZahnb,
	.ksSzJd .NY3LVe {

		/*** SEARCH MAIN RESULTS RIGHT COLUMN RIGHT BORDERS ***/
		border-right: 1px dotted var(--border-color) !important;
	}

	/* SEARCH IMAGES RESULTS */

	/** DESCRIPTION : change the elements of the search images results page **/
	g-scrolling-carousel {

		/*** SEARCH IMAGES RESULTS SCROLL BAR ***/
		background: var(--card-bg) !important;
		padding: 10px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		padding-top: 13px !important;
		margin: -13px -15px 20px -15px !important;
	}

	.chip {

		/*** SEARCH IMAGES RESULTS TAGS ***/
		border-radius: 2px !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
	}

	.chip .sq {
		font-size: 15pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
		padding-bottom: 2px !important;
	}

	.xchip {
		background: #EBEBEB !important;
	}

	.x {

		/*** SEARCH IMAGES RESULTS TAGS CLOSE ICON ***/
		background-repeat: no-repeat !important;
		padding-bottom: 2px !important;
	}

	.rg_anbg,
	.rg_ilmbg {

		/*** SEARCH IMAGES RESULTS INFORMATIONS BAR ***/
		background: rgba(51, 51, 51, 1) !important;
		font-size: 15pt !important;
		font-stretch: condensed !important;
		line-height: 23px !important;
		padding: 15px 10px 18px 15px !important;
	}

	.rg_anbg * {
		font-size: 15pt !important;
		font-stretch: condensed !important;
	}

	.irc_pt {

		/*** SEARCH IMAGES RESULTS INFORMATIONS MORE ***/
		font-size: 20pt !important;
		font-stretch: condensed !important;
	}

	.irc_hd,
	.irc_ho,
	.irc_asc {
		font-size: 15pt !important;
		font-stretch: condensed !important;
		line-height: 20pt !important;
	}

	.irc_but_r a {

		/*** IMAGE SEARCH CONTAINER INFORMATIONS MORE BUTTONS ***/
		display: none;
	}

	.irc_ris * {
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

}

@-moz-document regexp("https://www.google.*/"),
regexp("https://www.google.*/imghp.*"),
regexp("https://www.google.*/\\?.*") {
	#gsr {
		background: var(--body-bg) !important;
	}

	#gbw a {
		color: var(--primary-color) !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
	}

	#gsr #searchform #tsf .tsf-p {
		padding-left: 284px !important;
		padding-right: 284px !important;
	}

	.jhp #qbc #tsf {
		margin-left: 35px !important;
	}
	
	.jsb input {
		border: none !important;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
		font-size: 14pt !important;
		font-stretch: condensed !important;
		font-weight: normal !important;
		height: 45px !important;
		padding-bottom: 3px !important;
		width: 150px !important;
	}

	input[name="btnK"] {
		background: #3369E8 !important;
		color: #FFF !important;
	}

	#SIvCob {
		display: none !important;
	}

}
